/* 
    Document   : learn
    Created on : Sep 3, 2012, 4:57:14 PM
    Author     : enrico
    Description:
        Purpose of the stylesheet follows.
*/

.main-content h2 {
    margin-top: 20px;
    font-size: 26px;
}

.main-content h3 {
    font-size: 20px;
}

.training {
    list-style: disc outside none;
    font-family: 'MuseoSans500Regular';
    margin-left: 30px;
    color: #4F4E4E;
}

.overview h1 {
    color: #24B9FF;
    font-family: 'Museo700Regular';
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}