dl.contributors {
    border-bottom: 1px solid #999999;
    float: left;
    margin: 1em;
    padding: 0;
    width: 295px;
}
dl.contributors dt {
    border-top: 1px solid #999999;
    clear: left;
    float: left;
    margin: 0;
    padding: 5px;
    width: 80px;
}
dl.contributors dd {
    border-top: 1px solid #999999;
    float: left;
    margin: 0;
    padding: 5px;
    width: 195px;
    word-wrap: break-word;
}
dl.groups {
    border-bottom: 1px solid #999999;
    margin: 1em;
    padding: 0;
    width: 590px;
}
dl.groups dt {
    border-top: 1px solid #999999;
    clear: left;
    float: left;
    margin: 0;
    padding: 5px;
    width: 200px;
}
dl.groups dd {
    border-top: 1px solid #999999;
    float: left;
    margin: 0;
    padding: 5px;
    width: 370px;
    word-wrap: break-word;
}
.clearer {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
