[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths[] = APPLICATION_PATH "/../vendor/"
includePaths[] = APPLICATION_PATH "/../vendor/PEAR"
autoloaderNamespaces[] = "Git_"
autoloaderNamespaces[] = "Zfstatus_"
autoloaderNamespaces[] = "ZfWeb_"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.moduleDirectory = APPLICATION_PATH "/modules"
resources.frontController.throwExceptions = false
resources.frontController.plugins[] = "ZfWeb_Plugins_Caching"
resources.layout.layoutPath = APPLICATION_PATH "/views/layouts"
resources.layout.layout = "application_1_5"
resources.modules[] = 

mvc.exceptions      =   "0"
mvc.showTrace       =   "0"

manual.source       =   "/var/local/framework/ZendFramework-%s/documentation/manual/core"
manual.svn          =   "/var/local/framework/working/documentation/manual"
manual.docstatus    =   "/var/local/framework/translation_status.ser"
manual.views        =   "/var/local/framework/manual/views"
manual.versions.r_1_0  =   "1.0.2"
manual.versions.r_1_5  =   "1.5.2"
manual.versions.r_1_6  =   "1.6.1"
manual.versions.r_1_7  =   "1.7.5"
manual.versions.r_1_8  =   "1.8.5"
manual.versions.r_1_9  =   "1.9.8"
manual.versions.r_1_10 =   "1.10.9"
manual.versions.r_1_11 =   "1.11.13"
manual.versions.r_1_12 =   "1.12.0"
manual.versions.r_current = "1.12"

apidoc.source          = "/var/local/framework/ZendFramework-%s/documentation/api/core"
apidoc.package         = "/var/www/releases/ZendFramework-%s/ZendFramework-%s-apidoc.%s"
apidoc.versions.r_core = "1.12.0"
apidoc.versions.r_1_0  = "1.0.3"
apidoc.versions.r_1_5  = "1.5.3"
apidoc.versions.r_1_6  = "1.6.2"
apidoc.versions.r_1_7  = "1.7.9"
apidoc.versions.r_1_8  = "1.8.5"
apidoc.versions.r_1_9  = "1.9.8"
apidoc.versions.r_1_10 = "1.10.9"
apidoc.versions.r_1_11 = "1.11.13"
apidoc.versions.r_1_12 = "1.12.0"

releases.path       =   "/var/www/releases"

log.path            =   APPLICATION_PATH "/var/log"

font.path           =   APPLICATION_PATH "/var/fonts"
font.file           =   "caecilia.ttf"
font.cacheDir       =   APPLICATION_PATH "/../document_root/images/header"

css.styles   = "styles-20120827.css"
css.manual   = "manual-20110427.css"
css.download = "download-20100128.css"

index.manual.path        = "/var/local/framework/manual/indexes"

cache.baseDir = APPLICATION_PATH "/cache"

resources.cachemanager.search.backend.name                              = "File"
resources.cachemanager.search.backend.options.cache_dir                 = APPLICATION_PATH "/cache/search";
resources.cachemanager.search.frontend.name                             = "Core"
resources.cachemanager.search.frontend.options.caching                  = 1
resources.cachemanager.search.frontend.options.lifetime                 = 3600
resources.cachemanager.search.frontend.options.cache_id_prefix          = "search_"
resources.cachemanager.search.frontend.options.automatic_serialization  = 1

resources.cachemanager.content.backend.name                             = "File"
resources.cachemanager.content.backend.options.cache_dir                = APPLICATION_PATH "/cache/content";
resources.cachemanager.content.frontend.name                            = "Core"
resources.cachemanager.content.frontend.options.caching                 = 1
resources.cachemanager.content.frontend.options.lifetime                = 18600
resources.cachemanager.content.frontend.options.cache_id_prefix         = "content_"
resources.cachemanager.content.frontend.options.automatic_serialization = 1

resources.cachemanager.zfstatus.backend.name                              = "File"
resources.cachemanager.zfstatus.backend.options.cache_dir                 = APPLICATION_PATH "/cache/zfstatus"
resources.cachemanager.zfstatus.frontend.name                             = "Core"
resources.cachemanager.zfstatus.frontend.options.caching                  = 1
resources.cachemanager.zfstatus.frontend.options.lifetime                 = 7200
resources.cachemanager.zfstatus.frontend.options.cache_id_prefix          = "zfstatus_"
resources.cachemanager.zfstatus.frontend.options.automatic_serialization  = 1

dynamicheader.options.learning   = 0
dynamicheader.options.url        = "/images/header/"
dynamicheader.options.directory  = APPLICATION_PATH "/../document_root/images/header/"
dynamicheader.defaults.fontColor = "#008DBB"
dynamicheader.defaults.fontFile  = "caecilia.ttf"
dynamicheader.defaults.fontPath  = APPLICATION_PATH "/var/fonts"
dynamicheader.defaults.fontSize  = 30
dynamicheader.defaults.width     = 275

dynamicheader.sections.subPageMainHeader.width   = 600
dynamicheader.sections.subPageMainHeader.fontColor = "#008DBB"
dynamicheader.sections.subPageMainHeader.fontSize = 36

dynamicheader.sections.frontPageLeftHeader.fontColor = "#166E8B"

dynamicheader.sections.frontPageLeftSubHeader.fontColor = "#166E8B"
dynamicheader.sections.frontPageLeftSubHeader.fontFile  = "myriad-semibold.ttf"
dynamicheader.sections.frontPageLeftSubHeader.fontSize = 18

dynamicheader.sections.frontPageMiddleHeader.fontColor = "#619400"

dynamicheader.sections.frontPageMiddleSubHeader.fontColor = "#619400"
dynamicheader.sections.frontPageMiddleSubHeader.fontFile  = "myriad-semibold.ttf"
dynamicheader.sections.frontPageMiddleSubHeader.fontSize = 18

dynamicheader.sections.frontPageRightHeader.fontColor = "#F29300"

dynamicheader.sections.frontPageRightSubHeader.fontColor = "#F29300"
dynamicheader.sections.frontPageRightSubHeader.fontFile  = "myriad-semibold.ttf"
dynamicheader.sections.frontPageRightSubHeader.fontSize = 18


contact.mail.transport = "Zend_Mail_Transport_Sendmail"

download.readme.file = "/var/local/framework/working/README.txt"

svn.binary          =   "/usr/local/bin/svn"

jira.credentials.username = ""
jira.credentials.password = ""

changelog.file = APPLICATION_PATH "/cache/changelogData.php";

;; akismet setup
service.akismet.key = ""
service.akismet.url = "http://framework.zend.com"

;; dojo setup
;; dojo.localPath = "/js/release/zf-1.10.2/dojo/dojo.js"
dojo.cdnVersion = "1.6"
dojo.layers[]  = "/js/release/zf-1.11.10/zf/main.js"
dojo.modules.zf = "/js/release/zf-1.11.10/zf"
dojo.requires[] = 

;; recaptcha keys
recaptcha.pubkey = ""
recaptcha.privkey = ""
recaptcha.theme = "clean"

;; Git repositories, for git status tool
git.data_dir = "/var/local/framework/git/"

;; agilezen
agilezen.path = APPLICATION_PATH "/cache/agilezen"

[staging : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
mvc.exceptions      =   "0"
mvc.showTrace       =   "1"

resources.cachemanager.content.frontend.options.caching  = 0
resources.cachemanager.search.frontend.options.caching   = 0
resources.cachemanager.zfstatus.frontend.options.caching = 0

dynamicheader.options.learning   = 1

contact.mail.transport = "ZfWeb_Mail_LogTransport"

dojo.localPath = "/js/dojo/dojo.js"
