/* Content */
#content {
    background-color : #ffffff;
    min-height       : 500px;
    border-radius    : 6px;
    padding          : 33px;
    box-shadow       : 0 0 7px #dadada;

    @media only screen and (max-width: 767px) {
        padding : 15px;
    }

    h1 {
        color : #24b9ff;

        &:first-of-type {
            margin-top : 0;
        }
    }

    h2 {
        color       : #6ac00e;
        font-weight : normal;
    }

    h3 {
        color : #24b9ff;
    }

    blockquote {
        font-size    : 1.2em;
        margin-left  : 1em;
        margin-right : 1em;
    }

    a {
        &:link,
        &:visited {
            color           : $linkColor;
            text-decoration : none;
        }

        &:hover {
            color           : #000;
            text-decoration : underline;
        }

        &.button {
            color : #fff;
        }
    }

    p.date {
        border-top: 1px solid rgb(218, 218, 218);
        padding-top: 1em;
        margin-top: 1em;
    }

    #features ul.block-grid li {
      text-align: center;
      border: 1px solid #6ac00e;
      color: #6ac00e;
      /*
      padding-top: 0.5em;
      padding-bottom: 0.5em;
       margin: 0.5em;
      */
      border-radius: 5px;
      font-weight: bold;

      a {
        color: #6ac00e;

        :hover {
          color: #000000;
        }
      }
    }
}
