/* Content */
#content {
    background-color : #ffffff;
    min-height       : 500px;
    border-radius    : 6px;
    padding          : 33px;

    @include box-shadow(0 0 7px #dadada);

    @media only screen and (max-width: 767px) {
        padding : 15px;
    }

    h1 {
        color : #24b9ff;

        &:first-of-type {
            margin-top : 0;
        }
    }

    h2 {
        color       : #6ac00e;
        font-weight : normal;
    }

    h3 {
        color : #24b9ff;
    }

    blockquote {
        font-size    : 1.2em;
        margin-left  : 1em;
        margin-right : 1em;
    }

    a {
        &:link,
        &:visited {
            color           : $linkColor;
            text-decoration : none;
        }

        &:hover {
            color           : #000;
            text-decoration : underline;
        }

        &.button {
            color : #fff;
        }
    }
}