.server-download {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-around);
    @include align-items(center);

    padding          : 2em;
    background-color : #c3f0fc;
    border-radius    : 6px;
    box-shadow       : 0 0 7px #dadada;

    .zend-blocks {
        display: block;
        width: 25%;
    }

    .server-content {
        text-align : left;
        width      : 75%;
        font-size  : 24px;

        span.product {
            font-size   : 1.5em;
            font-weight : bold;
            color       : #6ac00e;
        }

        span.promo {
            font-size   : 1.2em;
            font-weight : bold;
            color       : #103754;
        }

        img {
            padding-top    : 1em;

        }

        img.server-logo {
            padding-bottom : 1em;
        }
    }
}

.composer-download {
    @include justify-content(space-around);

    padding          : 2em;
    background-color : #B0D885;
    border-radius    : 6px;
    box-shadow       : 0 0 7px #dadada;
}
