#floating-bar {
    @include button(simple, #ff991a);
    position: absolute;
    right: -40px;
    top: 300px;
    margin-top: -100px;
    z-index: 5;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 1em;

    /* rotate */
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    a {
        color: #fff;
    }

    @media only screen and (max-width: 767px) {
        display: none;
    }
}
