/* Footer */
#footer {
    font-family : 'metronomija';
    margin-top  : 20px;

    padding : {
        top    : 15px;
        bottom : 10px;
    }

    @include linear-gradient(top, #1e1e1e 0%, #3b3c3a 5%, #3b3c3a 100%, $fallback: #1e1e1e);

    h4 {
        color         : #ffffff;
        font-size     : 20px;
        margin-bottom : 25px;
        /*    background: url('../images/footer-separator.png') no-repeat right top;*/
        /*    border-right: 2px solid #2E2E2D;*/
        text-shadow   : 0 1px #000;
    }

    ul {
        list-style-type : none;
        margin-left     : 0;

        li {
            padding-bottom : 15px;

            &:last-child {
                padding-bottom : 0;
            }
        }
    }

    a {
        text-decoration : none;
        font-size       : 0.95em;
        color           : #b4ff3f;
        display         : block;

        &:hover {
            color : #55d1ff;
        }
    }

    hr {
        display : none;
        clear   : both;
        border  : none;

        @media only screen and (max-width: 767px) {
            display : block;
        }
    }

    i {
        font-size  : 24px;
        font-style : normal;
        color      : #888;
    }

    .foundicon-github:after {
        content : "Fork us on Github";
    }

    .foundicon-twitter:after {
        content : "ZF on Twitter";
    }

    .foundicon-rss.blog:after {
        content : "Blog Feed";
    }

    .foundicon-rss.security:after {
        content : "Security Feed";
    }

    a *[class*="foundicon-"]:hover {
        color : #fff;
    }

    #social-links {
        width         : 50%;
        margin-left   : auto;
        margin-right  : auto;
        margin-bottom : 15px;

        @media only screen and (max-width: 1000px) {
            width : 80%;
        }

        @media only screen and (max-width: 768px) {
            width        : auto;
            margin-left  : 10px;
            margin-right : 10px;
        }

        li {
            text-align : center;
            padding: 0;
        }

        a {
            &:hover {
                background-color : #55d1ff;

                i {
                    color : #fff;
                }
            }

            @media only screen and (max-width: 768px) {
                display          : block;
                background-color : #282827;
                border-radius    : 6px;
                padding          : 3px 3px 0 3px;
                margin           : 10px 5px;
            }
        }
    }
}

#contact-menu {
    h4 {
        border-right : none;
    }

    ul {
        margin-bottom : 0;

        li {
            text-align     : center;
            padding-bottom : 0;

            a {
                font-size        : 1.1em;
                color            : #55d1ff;
                text-decoration  : none;
                background-color : #282827;
                margin-bottom    : 8px;
                line-height      : 21px;
                border-radius    : 6px;
                display          : block;

                &:hover {
                    color            : #ffffff;
                    background-color : #55d1ff;
                }
            }
        }
    }
}

#footer-copyright {
    background-color : #2E2E2D;
    position         : relative;
    border-radius    : 4px;
    padding          : 10px;

    @include box-shadow(0 0 3px #222 inset);

    p {
        font-style    : italic;
        font-size     : 0.95em;
        color         : #888888;
        text-align    : center;
        margin-bottom : 0;
    }

    a {
        top      : 11px;
        right    : 20px;
        position : absolute;
    }
}

.link-hightlight,
#footer .link-highlight a {
    color : #48ccf9;
}

// Foundation icons
[class*="foundicon-"]:after {
    position   : relative;
    top        : -8px;
    left       : 10px;
    color      : #888;
    font-size  : 60%;
    font-style : normal;
}