// Issues
#issues dl.metadata {
    border        : 1px solid #DDD;
    margin-bottom : 17px;
    padding       : 0.5em;

    dt {
        float         : left;
        clear         : left;
        width         : 10em;
        text-align    : right;
        font-weight   : bold;
    }
    dd {
        margin        : 0 0 0 11em;
        padding       : 0 0 0.5em 0;
    }
}

#issues .description .body {
    border        : 1px solid #DDD;
    margin-bottom : 17px;
    padding       : 0.5em;
}

#issues .comments div.comment {
    border        : 1px solid #DDD;
    margin-bottom : 17px;
    padding       : 0.5em;

    p.metadata {
        border-bottom  : 1px solid #DDD;
        margin-bottom  : 17px;
        padding-bottom : 0.5em;
        font-size      : 0.8em;
    }
}

div.comment:nth-child(odd) {
    background-color: #F9F9F9;
}
