// Issues
#issues {
    #content table {
        thead th:first-child {
            width : 10%;
        }

        tbody th {
            width: 20%;
            text-align: left;
        }
    }

    .metadata {
        border        : 1px solid #DDD;
        margin-bottom : 17px;
        padding       : 0.5em;

        dt {
            float       : left;
            clear       : left;
            width       : 10em;
            text-align  : right;
            font-weight : bold;
        }

        dd {
            margin  : 0 0 0 11em;
            padding : 0 0 0.5em 0;

            ul {
                list-style-type : none;
                padding         : 0;
                margin-left     : 0;
            }
        }
    }

    .description {
        .body {
            border        : 1px solid #DDD;
            margin-bottom : 17px;
            padding       : 0.75em;
        }
    }

    .comments .comment {
        border        : 1px solid #DDD;
        margin-bottom : 17px;
        padding       : 0.75em;

        .metadata {
            border         : none;
            border-bottom  : 1px solid #DDD;
            padding : 0 0 0.5em;
            font-size      : 0.8em;
        }

        &:nth-child(odd) {
            background-color : #F9F9F9;
        }
    }

    .body {

        p:last-child {
            margin-bottom : 0;
        }
    }
}