// Component name
#manual #component-name {
    text-align : center;
    font-size  : 2em;
    color      : lighten($fontColor, 30%);
}

// Navigation pre + next
#manual .related {
    margin-bottom : 20px;
    border-top    : 1px solid #DDD;
    border-bottom : 1px solid #DDD;
    padding       : 0 10px;
}

#manual .body + .related {
    margin-top : 20px;
}

#manual .related  ul {
    display       : table;
    width         : 100%;
    table-layout  : fixed;
    margin-bottom : 0;
    margin-left   : 0;
}

#manual .related ul li {
    display : table-cell;

}

#manual .related .next {
    text-align : right;
}

#manual .related .next a:after {
    content : ' »';
}

#manual .related .prev a:before {
    content : '« ';
}

// Doctables
/*#manual {
    .doctable {
        td {
            .classname,
            .methodname {
                word-wrap  : break-word;
                word-break : break-all;
            }
        }
    }
}*/

// Blockquote elements not needed
#manual #content blockquote {
    font-size : 1em;
    margin    : 0;
    border    : none;
    padding   : 0;
}

// Rubric headline
#manual #content .rubric {
    color       : #24b9ff;
    font-size   : 27px;
    font-family : $headlineFont;
    margin-top  : 17px;
}

// Footnotes
#manual div.footnote {
    font-size     : 12px;
    line-height   : 1.6;
    margin-bottom : 17px;
    border-top: 1px solid #ccc;
    padding: 15px 15px 0 15px;
}

.docutils.footnote {
    background-color : #F2F2F2;
    width            : 100%;

    .label {
        padding          : 9px 5px;
        background-color : transparent;
        display          : table-cell;
        position         : static;
        line-height      : 18px;
        width            : 4%;
    }

    td {
        font-size : 12px;
    }
}

// Notes, warnings, … (panel in Foundation)
.admonition {
    &.note,
    &.warning,
    &.versionadded
    &.versionchanged,
    &.deprecated,
    &.seealso,
    &.important,
    &.caution {
        background-color : #F2F2F2;
        border           : 1px solid #E6E6E6;
        margin           : 0 0 22px 0;
        padding          : 20px;
    }

    .rubric {
        color     : $fontColor !important;
        font-size : 22px !important;
    }

    p {
        width : 100%;
    }

    .last {
        margin-bottom : 0;
    }
}

.admonition-title {
    font-weight   : bold;
    margin-bottom : 17px;
    border-bottom : 1px solid #ccc;
    font-size     : 16px;
}

.simple {
    padding-left : 20px;
    margin-left  : 0;
}

.simple em {
    font-style : normal;
}

// Anchor in headlines
a.headerlink {
    padding         : 0px 4px;
    text-decoration : none;
    font-size       : 0.5em;
    color           : rgb(36, 185, 255);
    font-weight     : normal;
}

// Code examples

// Todo: clean up is needed!
.highlight,
.highlight-txt,
.programlisting,
.highlight-yaml pre,
.highlight-python pre {
    background : #eeffcc;
    overflow   : auto;
    padding    : 5px;
}

.highlight,
.highlight-txt {
    pre {
        border           : none;
        padding          : 0;
        background-color : transparent;
        margin-bottom    : 0;
    }
}

.programlisting {
    border        : 1px solid #DDD;
    margin-bottom : 17px;

    ol {
        margin-bottom : 0;
        margin-left   : 35px;
    }

    *[style] {
        font-family : monospace !important;
    }
}

.highlight-php {
    margin   : 0 0 18px;
    overflow : auto;
}

.highlight-txt,
.highlight-text,
.highlight-apache,
.highlight-bash,
.highlight-xml,
.highlight-yaml,
.highlight-html,
.highlight-ini,
[class*="highlight-"] {
    margin-bottom : 17px;
}

.highlight-yaml {
    .highlighttable {
        pre {
            background-color: transparent;
        }
    }
}

.highlighttable {
    border-collapse : collapse;
    width           : 100%;
    margin          : 0;

    pre {
        padding : 0;
    }
}

.highlighttable td {
    padding : 0;
}

.highlighttable .linenos {
    padding : 5px;
    width   : 4%;
}

.highlighttable .code {
    overflow : auto;
}

// Class- and method names
tt,
.classname,
.methodname {
    font-family      : monospace;
    font-size        : 0.9em;
    background-color : #F8F8F8;
    margin           : 0 2px;
    padding          : 0 5px;
    border           : 1px solid #EAEAEA;
    border-radius    : 3px;
}

// Function description
#manual #content .function {
    position   : relative;
    border     : 1px solid #ddd;
    margin-top : 45px;

    &:before {
        content     : 'Method description';
        display     : block;
        font-size   : 0.9em;
        font-weight : bold;
        position    : absolute;
        top         : -25px;
    }

    dt {
        padding          : 5px 10px;
        border-bottom    : 1px solid #ddd;
        color            : #999;
        background-color : #ecf0f3;

        .descname {
            font-size    : 1.1em;
            margin-left  : 0;
            margin-right : 10px;
            color        : #4070a0;
        }

        big {
            margin    : 0 5px;
            font-size : 1em;
        }

        em {
            font-style  : normal;
            color       : #4f4e4e;
            font-family : monospace;
        }

        .optional {
            margin : 0 5px;
        }
    }

    dd {
        margin-bottom    : 0;
        background-color : transparentize(#ecf0f3, 0.6);
        overflow         : hidden;

        table {
            margin           : 0;
            border           : none;
            background-color : transparent;
            display          : block;

            tr {
                display : block;
                padding : 10px;
            }

            p {
                margin : 0;
            }

            .field {
                border-top : 1px solid #ddd;
            }

            .field-name {
                padding       : 0;
                font-weight   : bold;
                display       : block;
                text-align    : left;
                margin-bottom : 10px;
            }

            .field-body {
                display      : block;
                padding      : 0;
                margin-left  : 20px;
                margin-right : 20px;

                ul {
                    margin-bottom   : 0;
                    list-style-type : none;
                    padding-left    : 0;
                    line-height     : 18px;
                    display         : table;
                    border-collapse : collapse;

                    li {
                        margin-bottom : 3px;
                        display       : table-row;

                        @include background-image(linear-gradient(#ddd 1px, transparent 1px));

                        &:first-child {
                            background-image : none;
                        }

                        &:after {
                            content : "";
                            height  : 10px;
                            display : block;
                        }

                        strong {
                            display : table-cell;
                            padding : 10px 10px 0 10px;
                        }
                    }
                }

                strong {
                    font-family : monospace;
                    color       : #4070a0;
                }
            }
        }

        tbody {
            display : block;
        }

        & > p {
            margin : 10px;
        }
    }
}

dl.training {
    dt {
        clear: left;
        margin-top : 1em;
    }

    dd {
        p {
            font-size  : 1.2em;
            margin-bottom : 8px;

            img.icon {
                width: 80px;
                float : left;
                vertical-align: text-top;
                padding-right: 0.5em;
                padding-bottom: 0.5em;
            }
        }
    }
}

div.columns.training {
    text-align: center;

    img {
        margin-bottom: 0.5em;
    }
}

// Pygments (code highlighting)
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #408090; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .c1 { color: #408090; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408090; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #303030 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #208050 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #208050 } /* Literal.Number.Float */
.highlight .mh { color: #208050 } /* Literal.Number.Hex */
.highlight .mi { color: #208050 } /* Literal.Number.Integer */
.highlight .mo { color: #208050 } /* Literal.Number.Oct */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .il { color: #208050 } /* Literal.Number.Integer.Long */
