/* Header navigation */
#menu {
    padding: 0;
}

#header .top-bar {
    border-left   : 1px solid #42b1d8;
    border-right  : 1px solid #2a8eb0;
    background    : none;
    height        : 66px;
    margin-bottom : 0;
}

#header .top-bar li,
#header .top-bar li:last-child {
    text-align    : center;

    border : {
        right  : 1px solid #42b1d8;
        left   : 1px solid #2a8eb0;
        top    : none;
        bottom : none;
    }

    @include box-shadow(none);
}

#header .top-bar a,
#header .top-bar ul > li.name {
    text-decoration : none;
    color           : white;
    text-shadow     : 1px 1px 0px #3e3e3e;
    line-height: 66px;
    font-weight: bold;
    background: transparent;
    height: 66px;
}

#header .top-bar ul > li a:not(.button) {
    height: 66px;
    padding: 0;
    background-image: url(../images/wrapper-header.png);
}

#header .top-bar li {
    background-color : transparent !important;

    &.active a {
        background : url("../images/background-header-menu-link.png") repeat-x;
    }

    a {
        &:hover {
            background : url("../images/background-header-menu-link.png") repeat-x;
        }
    }
}

#header .top-bar ul {
    margin-top       : 0;
    background-color : transparent;
    display          : table;
    table-layout     : fixed;
    width            : 100%;
    margin-bottom: 0;
    height: 66px;
}

#header .top-bar li {
    display : table-cell;
    float: none;
}

#header .top-bar.expanded {
    height: 100%;
    position: relative;
    z-index: 1500;
}

#header .top-bar ul > li.toggle-topbar {
    background: none;
    border: none;
    width: 100%;
    height: 66px;
}

#header .top-bar ul > li.toggle-topbar a {
    background: none;
    border-bottom-color: transparent;
}

#header .top-bar.expanded ul li.toggle-topbar a {
    border-bottom-color: white;
    border-width: 8px;
}

@media only screen and (max-width: 767px) {
    #header .top-bar ul {
        height : auto;
        display: block;
    }

    #header .top-bar li.show-for-small:last-child {
      background-color:#2a8eb0!important;
    }

    #header .top-bar li {
        display: block;
        background-color: #2a8eb0;
    }

    #header .top-bar li a:not(.button):hover{
        background: url("../images/background-header-menu-link.png") repeat-x;
    }

    #header .top-bar li:last-child{
      background-color:#2a8eb0 !important;
    }

    #header .top-bar a {
        border-bottom: 1px solid #42b1d8;

    }

    #header .top-bar a:hover {
    }
}