/* Header navigation */
#menu {
    padding: 0;
}

#header {
    .top-bar {
        border-left   : 1px solid #42b1d8;
        border-right  : 1px solid #2a8eb0;
        background    : none;
        height        : 66px;
        margin-bottom : 0;

        li,
        li:last-child {
            text-align    : center;

            border : {
                right  : 1px solid #42b1d8;
                left   : 1px solid #2a8eb0;
                top    : none;
                bottom : none;
            }

            @include box-shadow(none);
        }

        a,
        ul > li.name {
            text-decoration : none;
            color           : white;
            text-shadow     : 1px 1px 0px #3e3e3e;
            line-height: 66px;
            font-weight: bold;
            background: transparent;
            height: 66px;
        }

        ul {
            background-image: url(../images/wrapper-header.png);
            margin-top       : 0;
            background-color : transparent;
            display          : table;
            table-layout     : fixed;
            width            : 100%;
            margin-bottom: 0;
            height: 66px;

            & > li.toggle-topbar {
                background: none;
                border: none;
                width: 100%;
                height: 66px;

                a {
                    background: none;
                    border-bottom-color: transparent;
                }
            }

            @media only screen and (max-width: 767px) {
                height : auto;
                display: block;
            }
        }

        li {
            background-color : transparent !important;
            display : table-cell;
            float: none;

            &.active a {
                background : url("../images/background-header-menu-link.png") repeat-x;
            }

            a {
                &:hover {
                    background : url("../images/background-header-menu-link.png") repeat-x;
                }
            }

            @media only screen and (max-width: 767px) {
                display: block;
                background-color: #2a8eb0;

                &:last-child{
                    background-color:#2a8eb0 !important;
                }

                &.show-for-small:last-child {
                    background-color:#2a8eb0!important;
                }

                a {
                    border-bottom: 1px solid #42b1d8;

                    &:not(.button):hover{
                        background: url("../images/background-header-menu-link.png") repeat-x;
                    }
                }
            }
        }

        &.expanded {
            height: 100%;
            position: relative;
            z-index: 1500;

            ul li.toggle-topbar a {
                border-bottom-color: white;
                border-width: 8px;
            }
        }
    }
}