/* Navigation */
#navigation {
    padding-top : 33px;
    text-shadow : 0 1px #fff;

    @media only screen and (max-width: 767px) {
        padding-top: 0;
    }

    ul {
        list-style-type : none;
        margin-left     : 0;

        ul  {
            margin-left : 0;
            font-size   : 0.95em;

            li {
                background : none;
            }

            a {
                padding-left : 15px;
            }

            ul a {
                padding-left : 30px;
            }
        }
    }

    li,
    .topless  {
        background : url("../images/list-arrow.png") no-repeat scroll right 8px transparent;
    }

    li.opened {
        background : url("../images/list-arrow-down.png") no-repeat scroll right center transparent;
    }

    ul a,
    .topless a {
        text-decoration : none;
        color           : #686868;
        display         : block;
        padding         : 8px 20px 8px 0;
        box-shadow      : 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
    }

    ul {
        a {
            font-size: 13px;
        }

        ul {
            a {
                font-size: 12px;
            }

            ul {
                a {
                    font-size: 11px;
                }
            }
        }
    }

    a:hover {
        color : #0091D5;
    }

    .active {
        a {
            color : #24b9ff;
        }

        li a {
            color : #686868;
        }
    }

    h1 {
        color         : #24b9ff;
        font-size     : 1.3em;
        font-family   : 'Museo300Regular';
        margin-top    : 1em;
        margin-bottom : 0.25em;
    }

    select {
        margin-bottom : 17px;
    }
}


.manual #navigation ul a {
    font-weight : bold;
}

.manual #navigation ul ul a,
.manual #navigation .this-page-menu a {
    font-weight : normal;
}

#this-page-menu {
    border: 1px solid #ddd;
    padding       : 20px 15px;
    font-size     : 0.8em;
    background-color: #ebebeb;
    margin-bottom : 15px;
    border-radius : 5px;

    h1 {
        margin-top : 0;
    }

    ul {
        margin-bottom : 10px;

        a {
            font-size : 0.8em;
        }
    }

    li {
        background-position : right 5px;
    }

    .note {
        font-size     : 1em;
        margin-bottom : 0;
    }
}
