/* Search form */
#header {
    form {
        margin-top    : 10px;
        margin-bottom : 0;
    }

    input[type=text] {
        background         : url("../images/top-search-bg.png") no-repeat -4px 0px;
        border             : medium none;
        color              : #29BDF1;
        font-family        : $standardFont;
        height             : 44px;
        padding            : 0px 10px 0 37px;
        width              : 190px;
        outline            : none;
        margin             : 0;

        @include transition(none);
        @include box-shadow(none);

        &:focus {
            background-position : -4px -48px;
            color               : #fff;
        }
    }

    .top-bar form {
        padding          : 0;
        display          : inline-block;
        background-color : #2a8eb0;
        margin           : 11px 0;
    }
}