// Page width
.row {
    width : 1079px;
}

// Button
.button {
    text-decoration : none !important;

    ul li.header {
        color         : #000;
        font-size     : 13px;
        padding       : 6px 14px;
        text-align    : left;
        margin-bottom : 0;
        font-weight   : bold;
        font-family   : $standardFont;

        &:hover {
            background-color : transparent;
            cursor           : auto;
        }
    }
}

.logo {
    text-align : center;

    @media only screen and (max-width: 767px) {
        text-align : left;
    }
}

// Alert box
div.alert-box p:last-child {
    margin-bottom: 0;
}

// Pagination
#content .pagination {
    a {
        color : $fontColor;
    }

    .current a {
        color : #fff;
    }
}