/* Content */
#content {
    background-color : #ffffff;
    min-height       : 500px;
    border-radius    : 6px;
    padding          : 33px;

    @include box-shadow(0 0 7px #dadada);

    @media only screen and (max-width: 767px) {
        padding : 15px;
    }

    h1 {
        color : #24b9ff;
        /*border-bottom: 1px solid #DDDDDD;*/
    }

    h2 {
        color       : #6ac00e;
        font-weight : normal;
    }

    h3 {
        color : #24b9ff;
    }

    blockquote {
        font-size    : 1.2em;
        margin-left  : 1em;
        margin-right : 1em;
    }

    a {
        color           : #0091d5;
        text-decoration : none;

        &.button {
            color : #fff;
        }
    }

    p a:hover {
        text-decoration : underline;
    }

    *:first-child {
        margin-top : 0;
    }
}