body {
    background  : url('../images/wrapper-header.png') repeat-x scroll 0 0 #F0F0F0;
    font-family : $standardFont;
    color       : $fontColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family : $headlineFont;
    font-weight : normal;
    color       : $fontColor;
}

ul {
    margin-left : 20px;
}

dd {
    margin-bottom : 17px;
}

dt {
    font-weight : bold;
}

blockquote {
    border : none;
}

table {
    thead tr th,
    thead tr th:first-child,
    tfoot tr td,
    tfoot tr td:first-child {
        border : none;
    }
}

pre {
    border        : 1px solid #DDD;
    margin-bottom : 17px;

    code {
        background-color : transparent;
    }
}

table {
    pre {
        border : none;
    }
}

code {
    font-weight      : normal;
    background-color : #ECF0F3;
}