/* Logo */
#logo {
    text-align : center;
    padding    : 0;

    h1 {
        margin : 0;
    }

    a {
        display : block;
        height  : 66px;
        padding : 12px 15px;
    }
}

/* Header */
#header {
    margin-bottom : 20px;

    @media only screen and (max-width: 767px) {
        background : url('../images/elephant.png') no-repeat left 125px transparent;

        @include background-size(50%);
    }
}

#top-header-shadow {
    background : url("../images/head-top-shadow.png") repeat-x scroll 0 0 transparent;
    height     : 17px;
    position   : absolute;
    top        : 66px;
    width      : 100%;
    z-index    : 1000;
}

#github-link {
    position : absolute;
    top      : 66px;
    right    : 0;
    border   : none;
    z-index  : 1000;
}