.manual .related {
    margin-bottom : 20px;
    border-top    : 1px solid #DDD;
    border-bottom : 1px solid #DDD;
    padding       : 0 10px;
}

.manual .body + .related {
    margin-top : 20px;
}

.manual .related  ul {
    display       : table;
    width         : 100%;
    table-layout  : fixed;
    margin-bottom : 0;
    margin-left   : 0;
}

.manual .related ul li {
    display : table-cell;

}

.manual .related .next {
    text-align : right;
}

.manual .related .next a:after {
    content : ' »';
}

.manual .related .prev a:before {
    content : '« ';
}

.manual .related .has-tip {
    border-bottom : none;
    font-weight   : normal;
    cursor        : pointer;
}

.manual #content blockquote {
    font-size : 1em;
    margin    : 0;
    border    : none;
    padding   : 0;
}

.manual #content .rubric {
    color : #24b9ff;
    font-size: 27px;
    font-family: $headlineFont;
}

.simple {
    padding-left : 20px;
    margin-left  : 0;
}

.simple em {
    font-style : normal;
}

a.headerlink {
    padding         : 0px 4px;
    text-decoration : none;
    font-size       : 0.5em;
    color           : rgb(36, 185, 255);
    font-weight     : normal;
}

.highlight,
.highlight-txt {
    background : #eeffcc;
    overflow   : auto;
    padding    : 5px;
}