// Off canvas
#navigation-button {
    margin: 0 15px 15px;

    a {
        width: auto;
        display: inline-block;
        font-weight: normal;

        &:before {
            content: 'more';
        }
    }
}

.active #navigation-button a:before {
    content: 'hide';
}

@media only screen and (max-width: 767px) {
    #navigation,
    #content {
        width              : 100%;
        display            : block;
        position           : relative;
        z-index            : 1;
        -webkit-transition : 0.25s all ease-in;
        -moz-transition    : 0.25s all ease-in;
        -o-transition      : 0.25s all ease-in;
        transition         : 0.25s all ease-in;
    }

    #navigation {
        margin-left : -100%;
        width       : 80% !important;
        float       : left;
        z-index     : 2;
    }

    #content {
        margin-left : 0;
        z-index     : 1;
        position    : relative;
    }

    .active #navigation {
        margin-left : 0;
    }

    .active #content {
        margin-right : -80%;
        margin-left: 80%;
    }

    .row {
        overflow: hidden;
    }

    .row .row {
        overflow : visible;
    }
}