// Downloads
#downloads {
    table img {
        max-width : none;
    }

    td + td {
        text-align: right;
    }
}

// Participate
#participate #content {
    dt.columns,
    dd.columns {
        margin-top : 17px;
    }

    dt.columns {
        clear : both
    }
}