@charset 'utf-8';

// Bourbon
@import "bourbon";

// Mixin for keyframes
@mixin keyframes {
    @-moz-keyframes {
        @content;
    }
    @-webkit-keyframes {
        @content;
    }
    @-ms-keyframes {
        @content;
    }
    @-o-keyframes {
        @content;
    }
}

// Fonts
@include font-face(MuseoSans500Regular, 'fonts/museosans-webfont');
@include font-face(Museo300Regular, 'fonts/museo300-regular-webfont');
@include font-face(Museo500Regular, 'fonts/museo500-regular-webfont');
@include font-face(Museo700Regular, 'fonts/museo700-regular-webfont');
@include font-face(metronomija, 'fonts/metronomija-webfont');

// Variables
$standardFont : 'MuseoSans500Regular';
$headlineFont : 'Museo700Regular';

$fontColor : rgb(79, 78, 78);
$linkColor : rgb(0, 145, 213);

// Text selection color
@media screen, projection {
    ::-moz-selection {
        background-color : $linkColor;
        color            : #fff;
    }

    ::selection {
        background-color : $linkColor;
        color            : #fff;
    }
}

// HTML elements
@import '_elements';

// Header
@import '_header';

// Top menu
@import '_menu';

// Search form
@import '_search-form';

// Content area
@import '_content';

// Navigation in sidebar
@import '_navigation';

// Footer
@import '_footer';

// Homepage layout
@import '_homepage';

// Manual layout
@import '_manual';

// Other page related layouts
@import '_pages';

// CSS Classes
@import '_classes';

// Off canvas
@import '_off-canvas';