@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    min-width: 1000px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6{
	cursor: default;
}


/*reset ends*/

/* fonts first */

@font-face {
    font-family: 'MuseoSans500Regular';
    src: url('fonts/museosans-webfont.eot');
    src: url('fonts/museosans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans-webfont.woff') format('woff'),
         url('fonts/museosans-webfont.ttf') format('truetype'),
         url('fonts/museosans-webfont.svg#MuseoSans500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700Regular';
    src: url('fonts/museo700-regular-webfont.eot');
    src: url('fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo700-regular-webfont.woff') format('woff'),
         url('fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('fonts/museo700-regular-webfont.svg#Museo700Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500Regular';
    src: url('fonts/museo500-regular-webfont.eot');
    src: url('fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo500-regular-webfont.woff') format('woff'),
         url('fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('fonts/museo500-regular-webfont.svg#Museo500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo300Regular';
    src: url('fonts/museo300-regular-webfont.eot');
    src: url('fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo300-regular-webfont.woff') format('woff'),
         url('fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('fonts/museo300-regular-webfont.svg#Museo300Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metronomija';
    src: url('fonts/metronomija-webfont.eot');
    src: url('fonts/metronomija-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metronomija-webfont.woff') format('woff'),
         url('fonts/metronomija-webfont.ttf') format('truetype'),
         url('fonts/metronomija-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* fonts ends */


#wrapper-head-top {
	background: url("../images/wrapper-header.png") repeat-x;
	height: 66px;	
}

#head-top {
	margin: 0 auto;
	width: 960px;	
	height: 66px;	
}

#wrapper-head-bottom {
	height: 417px;	
	/*background: url("../images/fancy-over-shadow.png") no-repeat left 6px; */
	background-color: #a5e3f3;
}

#top-header-shadow{
	background: url("../images/head-top-shadow.png") repeat-x scroll 0 0 transparent;
    height: 17px;
    position: absolute;
    top: 66px;
    width: 100%;
    z-index: 999999;
}

#head-bottom {
	margin: 0 auto;
	background: url("../images/head-bottom.png") no-repeat top center;
	height: 417px;	
	text-align:center;
}

#head-bottom img {
	margin-top: 75px;	
}

#wrapper-main-top{
	background: url("../images/wrapper-main-middle-shadow.png") repeat-x;
	height:500px;
	background-color: #f0f0f0;
}

#wrapper-main-middle-top-separator{
	background: url("../images/middle-top-separator.png") repeat-x;
	height:15px;
}

#wrapper-main-middle{
	background-color: #e4e4e4;
	min-height: 355px;
}

#wrapper-main-middle-bottom-separator{
	background: url("../images/middle-bottom-separator.png") repeat-x;
	height:9px;
}

#wrapper-main-bottom{
	background-color: #f0f0f0;
	height:305px;
}

#wrapper-footer{
	background: url(../images/footer-bg.png);
	height: 336px;
}

/* wrappers end */

#head-top-logo {
	padding-top: 15px;
	float:left;
}

#head-top-nav{
	float: right;
	border-left:1px solid #42b1d8;
	border-right:1px solid #2a8eb0;
}

#head-top-nav li{
	text-align:center;
	border-right:1px solid #42b1d8;
	border-left:1px solid #2a8eb0;
	float:left;
}

#head-top-nav li a{
	text-decoration: none;
	font-family: "MuseoSans500Regular";
	color: white;
	font-size: 15px;
	text-shadow: 1px 1px 0px #3e3e3e;
	height: 38px;
    padding-top: 28px;
	display:inline-block;
	min-width:120px;
}

#head-top-nav li.active{
	background: url("../images/main-nav-active-bg.png") repeat-x;
}

#head-top-nav li:hover{
	background: url("../images/main-nav-active-bg.png") repeat-x;
}

#head-top-search{
	float:right;
	padding: 11px 0 0 10px;
}

#head-top-search input[type=text]{
	background: url("../images/top-search-bg.png") no-repeat -4px 0px;
	border: medium none;
    color: #29BDF1;
    font-family: "MuseoSans500Regular";
    height: 44px;
    padding: 0px 10px 0 37px;
    width: 140px;
	outline: none;
}

#head-top-search input[type=text]:focus{
	background: url("../images/top-search-bg.png") no-repeat -4px -48px;
}

#download{
	background: url("../images/download-custom-shadow.jpg") no-repeat scroll center center transparent;
    height: 13px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#big-download{
	background: url("../images/download-now-big-btn.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 109px;
    position: relative;
    top: -50px;
    width: 428px;
}

#big-download:hover{
	background: url("../images/download-now-big-btn.png") no-repeat scroll 0 -113px transparent;
}

#main-top{
	width:960px;
	margin:0 auto;
	margin-top:62px;
	position:relative;
}

#main-top-left{
	width: 612px;
	float:left;
	padding:28px 0 0 18px;
}

#main-top-right{
	background: url("../images/php-hero.png") no-repeat scroll 0 -384px transparent;
    float: left;
    height: 410px;
    margin-top: 0;
    width: 300px;
}

#php-hero{
	background: url("../images/php-hero.png") no-repeat scroll 1px 15px transparent;
	float: left;
    height: 410px;
    width: 300px;
	background-color: #f0f0f0;
	
	-webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
}

#php-hero:hover{
	opacity: 0;
	cursor:pointer;
}

#main-top h1{
	font-family: "Museo700Regular";
	font-size: 36px;
	color: #24b9ff;
	text-shadow: 1px 2px 0 #fafafa;
	margin-bottom: 48px;
}

#box-left {
	width: 270px;
	float: left;
	margin-right: 25px;
}

#box-right {
	width: 270px;
	float: left;
}

.box {
	margin-bottom: 20px;
	height: 75px;
}

.box img {
	float: left;
	padding-left: 3px;	
}

.box h3 {
	float: left;
	font-size: 24px;
	color: #4ac31b;	
	padding: 5px 20px;
	font-family: "Museo500Regular"
}

.box p {
	clear: both;
	color: #636363;
	font-size: 15px;
	padding-top: 10px;
	font-family: Calibri;
}

#main-middle{
	width:960px;
	margin: 0 auto;
	padding-top:28px;
	overflow: hidden;
}

.content-tabs{
	margin-bottom:18px;
}

#main-middle-left{
	width: 612px;
	float:left;
	padding:0 0 0 18px;
}

#main-middle-left .news-nav{
	height:60px;
	border-bottom: 1px solid #eaeaea;
	margin:20px 0px;
	width: 95%;
}

#main-middle-left .news-nav li{
	text-align: center;
}

#main-middle-left .news-nav li a{
	float:left; 
	text-decoration:none;
	font-size:22px;
	color: #adadad;
	font-family: "Museo300Regular";
	padding:8px 21px;
	height:32px;
	margin-right:6px;
}

#main-middle-left .news-nav li.active a{
	color: white;
	font-family: "Museo700Regular"
}

#main-middle-left .news-nav li a#news{
	background: url("../images/clouds-sprite.png") no-repeat scroll 0 -50px transparent;
	width:58px;
}

#main-middle-left .news-nav li a#get_started{
	background: url("../images/clouds-sprite.png") no-repeat scroll -109px -50px transparent;
	width:121px;
}

#main-middle-left .news-nav li a#get_involved{
	background: url("../images/clouds-sprite.png") no-repeat scroll -279px -50px transparent;
	width:136px;
}

#main-middle-left .news-nav li.active a#news, #main-middle-left .news-nav li a#news:hover{
	background-position: 0 0;
	color: white;
	font-family: "Museo700Regular"
}

#main-middle-left .news-nav li.active a#get_started, #main-middle-left .news-nav li a#get_started:hover{
	background-position: -109px 0;
	color: white;
	font-family: "Museo700Regular"
}

#main-middle-left .news-nav li.active a#get_involved, #main-middle-left .news-nav li a#get_involved:hover{
	background-position: -279px 0;
	color: white;
	font-family: "Museo700Regular"
}

#main-middle-left h4 a{
	font-size: 24px;
	font-family: "Museo700Regular";
	color: #707070;
	line-height: 50px;
	text-decoration:none;
}

#main-middle-left h4 a:hover{
	color: #24B9FF;
}

#main-middle-left h4 span{
	font-family: "Museo300Regular";
}

#main-middle-right{
	float:right;
	width: 285px;
}

#main-middle-right h5{
	background: url("../images/upcoming-events-bg.png") no-repeat;
	width: 220px;
	height: 33px;
	font-family: "Museo700Regular";
	font-size:24px;
	color: white;
	padding: 7px 0 0 20px;
	margin:20px 0;
	cursor: default;
}

.events-container{
	height:185px;
	overflow:auto;
	width:250px;
}

#main-middle-right ul{
	width: 215px;
	margin-left:10px;
	border-bottom:1px dashed #cacaca;
	margin-bottom:5px;
}

#main-middle-right ul li{
	border-top:1px dashed #cacaca;
	padding:10px 0px;
}

#main-middle-right ul li span{
	font-size:20px;
	color: #82ce31;
	font-family: "Museo700Regular";
}

#main-middle-right ul.cities{
	margin:0;
	border:none;
}

#main-middle-right ul.cities li{
	border:none;
	color: #47c3ee;
	padding: 4px 0px;
	font-family: "metronomija";
}

#main-middle-right ul.cities li span{
	color: #555555;
	font-size: 16px;
	font-family: 'metronomija';
}

a.more{
	font-size:16px;
	color: #7e7e7e;
	margin:10px;
	font-family: 'metronomija';
}

#main-bottom {
	width: 960px;
	margin:0 auto;
	padding-top:30px;
	padding-left: 40px;
	height: 270px;
}

#main-bottom h2 {
	font-family: "Museo700Regular";
	font-size: 36px;
	color: #6eb322;
	text-shadow: 1px 2px 0 #fafafa;
}

.clients {
	margin-top: 30px;
	width: 910px;	
}

.clients ul {
	margin-top: 30px;	
}

.clients li {
	float:left;
	margin-right: 20px;
	width: 162px;
	height: 75px;
}

.clients img{
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    opacity:0.4;
}

.clients img:hover{
	filter: none;
    -webkit-filter: grayscale(0);
     -webkit-animation: opac 1s forwards;
     -moz-animation:    opac 1s forwards;
     -ms-animation:     opac 1s forwards;
     -o-animation:      opac 1s forwards;
}

@-webkit-keyframes opac {
	0%   { opacity:0.4; }
	100% { opacity: 1; }
}
@-moz-keyframes opac {
	0%   { opacity:0.4; }
	100% { opacity: 1; }
}
@-ms-keyframes opac {
	0%   { opacity:0.4; }
	100% { opacity: 1; }
}
@-o-keyframes opac {
	0%   { opacity:0.4; }
	100% { opacity: 1; }
}

#footer {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;	
}

#group-links {
	padding-top: 25px;
	padding-left: 25px;
	width: 925px;
	overflow: hidden;
}

.links {
	float: left;
	margin-right: 66px;	
	margin-bottom: 15px;
}
	
.links h4 {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 25px;	
	font-family: 'metronomija';
	background: url('../images/footer-separator.png') no-repeat right top;
	width:128px;
}

.links li {
	padding-bottom: 15px;
}

.links a {
	text-decoration: none;	
	font-size: 14px;	
	font-family: 'metronomija';
	color: #b4ff3f;
}

#contact-menu {
	float:right; 
	margin-right: 10px;
	width: 100px;
	text-align:center;
}

#contact-menu h4 {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 25px;
	font-family: 'metronomija';
}

#contact-menu ul li{
	text-align:center;
}

#contact-menu ul li a{
	font-size:16px;
	color: #55d1ff;
	font-family: 'metronomija';
	text-decoration:none;
	padding-top:5px;
	background-color: #282827;
	margin-bottom:8px;
	width:94px;
	display:inline-block;
	height:21px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}

#contact-menu ul li a:hover{
	color: #ffffff;
	background-color: #55d1ff;
}

#footer-copyright {
	clear: both;
	background: url('../images/copyright.png') no-repeat;
	width:943px;
	height: 41px;
	color: #ffffff;
	text-align: center;
}

#footer-copyright p {
	padding-top: 13px;
	display: inline-block;	
	font-family: 'metronomija';
	font-style:italic;
	font-size:15px;
	color: #888888;
}

.link-hightlight, .links ul li.link-highlight a{
	color:#48ccf9;
}

#footer-copyright a {
	float: right;
	margin-top: 13px;	
	margin-right: 20px;
}

#massive-devider{
	border-left: 1px solid #FFFFFF;
    border-right: 1px solid #DFD7D7;
    height: 775px;
    left: 615px;
    position: absolute;
    top: 40px;
    width: 0;
}

/****** DOWNLOAD PAGE ******/
#main-content-wrapper{
	background-color: #F0F0F0;
}

#site-content{
	width: 960px;
	margin:0 auto;
	padding:25px 0 20px 0;
}

.topnav-container{
	width:962px;
	height:111px;
	margin-bottom:20px;
	padding-left:20px;
}

.topnav-container fieldset{
	float:left;
	padding:23px 0;
}

.topnav-container label{
	font-size: 18px;
	font-family: 'Museo500Regular';
	color: #787878;
	margin-bottom:4px;
	float:left;
	position:relative;
	left:2px;
}

.topnav-item label{
	color: #3297ba;
}

.topnav-item {
	width:478px;
	float:left;
}

.overview{
	width: 220px;
	float:left;
	min-height:100px;
	margin-right:16px;
}

.overview ul li{
	font-size:21px;
	font-family: 'MuseoSans500Regular';
	background: url("../images/list-arrow.png") no-repeat scroll 190px 10px transparent;
}

.overview ul li.opened{
	background: url("../images/list-arrow-down.png") no-repeat scroll 190px 10px transparent;
}

.overview ul li a{
	text-decoration: none;
	color: #686868;
	line-height:40px;
	background: url('../images/download-list-bg.png') no-repeat bottom left;
	width:100%;
	display:block;
}

.overview ul li.active a{
	color: #24b9ff;
}

.overview ul li.active li a{
	color: #686868;
}

.overview ul li ul li{
	background:none;
}

.overview ul li ul li a{
	padding-left:30px;
}

.overview ul li ul{
	display:none;
}

.overview h1 {
	color: #24b9ff;
	font-size: 23px;
	font-family: 'Museo300Regular';
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.main-content{
	float:left;
	background-color: #ffffff;
	min-height:500px;
	border-radius:6px;
	box-shadow:0 0 7px #dadada;
	padding:33px;
}

.main-content.single {
	width:890px;
}

.main-content.two {
	width:654px;
}

.main-content h1{
	color:#24b9ff;
	font-size:42px;
	font-family: 'Museo700Regular';
	margin-bottom:8px;
}

.main-content h2{
	color:#6ac00e;
	font-size:22px;
	font-family: 'Museo300Regular';
	margin-bottom:20px;	
}

.main-content h3{
	color: #24b9ff;
	font-size: 24px;
	font-family: 'Museo500Regular';
	margin: 8px 0;
}

.main-content p, .main-content dl, .main-content ul, .main-content ol, .main-content td {
	color:#4f4e4e;
	font-size: 16px;
	font-family: 'MuseoSans500Regular';
	padding:10px 0px;
	line-height:20px;
}

.main-content blockquote {
    font-family: 'MuseoSans500Regular';
    font-size: 18px;
    margin-left: 1em;
    margin-right: 1em;
}

.main-content a{
	color: #0091d5;
	text-decoration:none;
}

.main-content p a:hover{
	text-decoration:underline;
}

.clear{
	clear:both;
	width:100%;
}

.styled-select{
	background: url(../images/custom-select-arrow.png) no-repeat right top;
	background-color: #fcfcfc;
	overflow: hidden;
	height:28px;
	border:1px solid #dadada;
	box-shadow: 0 0 4px #e2e2e2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin-right:6px;
	float:left;
}

.styled-select select{
	text-align:left;
	border:none;
	cursor:pointer;
	width:120%;
	background: transparent;
	font-family: 'Metronomija';
	color: #15a9dc;
	font-size:inherit;
	outline: none;
	-webkit-appearance: none;
	padding:0;
	margin:0;
	line-height: 22px;	
}
.styled-select select option{
	padding:4px;
	font-size:16px;
	padding-left:6px;
}

.styled-select.large{
	font-size:22px;
	width:105px;
	height:28px;
	padding: 1px 0 3px 0;
}

.styled-select.large select{
	height:32px;
	padding-left:7px;
	padding-top:1px;
}

.styled-select.medium{
	font-size:18px;
	width:130px;
	padding: 4px 0 0px 0;
}

.styled-select.medium select{
	padding-left:7px;
	height:27px;
	padding-top:2px;
}

.download-search-container input[type=text]{
	border:1px solid #dadada;
	box-shadow: 0 0 4px #e2e2e2;
	height:28px;
	padding:3px 8px 1px 8px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin-right:6px;
	width:125px;
	color: #1a7292;
	font-family: 'Metronomija';
	font-size:18px;
	outline: none;
}

#go-btn{
	background: url(../images/go-btn.png) no-repeat center top;
	width: 75px;
	height: 38px;
	float:right;
	margin-top:21px;
	margin-left:4px;
}

.error-404 {
    width: 500px;
    height: 617px;
    padding-left: 450px;

    background: url(../images/mwop-404.png) no-repeat;
}

.error-404-speech-bubble {
    position: relative;
    display: inline-block;
    padding: 15px;
    margin-top: 150px;

    border: 3px solid #000000;
    border-radius: 7px;
}

.error-404-speech-bubble:before {
    position: absolute;
    content: '';

    left: -69px;
    top: 50px;

    width: 69px;
    height: 40px;

    background: url(../images/speech-bubble-arrow.png) no-repeat;
}

div.element {
	font-family: 'MuseoSans500Regular';
    width: inherit;
    margin-top: 1em;
}

div.element label input, div.element label textarea {
    float: right;
    width: 75%;
}

#recaptcha_widget_div {
    width: 75%;
    float: right;
}

.button {
    float: right;
	font-family: 'MuseoSans500Regular';
    font-size: 1.5em;
    border: 3px solid #24b9ff;
    border-top-color: #24b9ff;
    border-left-color: #24b9ff;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}

.button:hover {
    border-color: #F00 #C30 #C30 #F00;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
    margin-left: 1em;
    padding: 0;
}

dd {
    margin-left: 2em;
    padding: 0.5em;
}

.downloads h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.downloads h4 {
    font-size: 1.125em;
    font-weight: bold;
    color: #24b9ff;
}

.downloads span.button {
    background-color: #88ce4a;
    -moz-border-radius: 15px;
    -webkit-border-radius: 20px;
    border: 1px solid #FFF;
    padding: 7px 0 0 20px;
    width: 220px;
    height: 33px;
	font-family: "Museo700Regular";
	font-size:24px;
	color: white;
	margin: 1em;
	cursor: default;
    float: left;
}

.downloads span.button a {
	color: white;
    text-decoration: none;
}

.downloads span.button:hover {
    border: 2px solid #24b9ff;
}

.downloads .buttons {
    text-align: center;
}

.downloads tr {
    border-top: 1px solid #24b9ff;
}

.downloads td {
    text-align: left;
    vertical-align: top;
}

.downloads td.alpha {
    width: 100px;
    text-align: center;
}

.downloads td.omega {
    width: 150px;
    text-align: right;
}

.downloads td.alpha.product {
    width: 150px;
    text-align: left;
}

.downloads td.alpha.archives {
    width: 200px;
    text-align: left;
}

.downloads td.alpha.archives strong {
    font-weight: bolder;
}

.downloads div.example {
    background-color: #e4e4e4;
    -moz-border-radius: 15px;
    -webkit-border-radius: 20px;
    border: 1px solid #FFF;
    padding: 7px 0 7px 20px;
	font-family: "MuseoSans500Regular";
}

.downloads div.columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.downloads div.columns li {
    font-size: 0.8em;
}

.main-content .note {
    background-color: #e4e4e4;
    -moz-border-radius: 15px;
    -webkit-border-radius: 20px;
    border: 1px solid #FFF;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
	font-family: "MuseoSans500Regular";
}

.contact h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.contact table {
    margin-top: 1em;
    margin-bottom: 1em;
}

.contact td, .contact th {
	font-family: "MuseoSans500Regular";
}

.contact tr {
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.contact th {
    font-weight: bold;
    text-align: center;
    width: 125px;
}

.contact td {
    text-align: center;
}

.contact th.alpha {
    width: 250px;
    text-align: left;
}

.contact td.alpha {
    text-align: left;
}

.downloads ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 1em;
    padding-left: 1em;
    text-indent: -1em;
}

.downloads li {
    padding-bottom: 0.5em;
}

.selectversion{
    margin-bottom: 15px;
    text-align: center;
    font-family: 'MuseoSans500Regular';
}

.security ul, .participate ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 1em;
    padding-left: 1em;
    text-indent: -1em;
}

.security li {
    padding-bottom: 0.5em;
}

.changelog ul, .participate ol, .learn ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 1em;
    padding-left: 1em;
    text-indent: -1em;
}

.changelog li {
    padding-bottom: 1em;
}

.participate ul {
    list-style-type: square;
}

.learn li {
    padding-bottom: 0.5em;
}

.learn a {
    color: #0091d5;
}

.participate ol {
    list-style-type: decimal;
}

.participate li {
    padding-bottom: 1em;
}

.contact dt {
    font-weight: bold;
}

.contact dd {
    margin: 1em;
    text-indent: 1em;
}

.about code {
    font-family: Courier, 'New Courier', monospace;
    display: block;
    white-space: pre;
    font-size: 10pt;
}

.learn h2 {
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.learn h3 {
    font-size: 22px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.manual div.highlight, .manual div.highlight-txt {
    -moz-border-radius: 15px;
    -webkit-border-radius: 20px;
    border: 1px solid #24b9ff;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.manual div.highlight pre, .manual div.highlight-txt pre {
    font-family: Courier, 'New Courier', monospace;
    border: none;
}

.manual div.related {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #24b9ff;
    border-bottom: 1px solid #24b9ff;
}

.search form input[type=search]{
    -moz-border-radius: 15px;
    -webkit-border-radius: 20px;
	border: 1px solid #0c6088;
    color: #FFF;
    font-family: "MuseoSans500Regular";
    font-weight: bold;
    height: 44px;
    padding: 0px 10px 0 10px;
    width: 50%;

   /* fallback/image non-cover color */
   background-color: #1c7493; 
   /* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c7493), to(#1b7392));
   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, #1c7493, #1b7392); 
   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #1c7493, #1b7392);
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #1c7493, #1b7392);
   /* Opera 11.10+ */
   background-image: -o-linear-gradient(top, #1c7493, #1b7392);
}

.search h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.paginationControl {
	font-family: 'MuseoSans500Regular';
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #0c6088;
    text-align: center;
}

.paginationControl .current {
    font-weight: bold;
}
