.sub-page-main-header-zend-framework-downloads
{
    background-image: url(/images/header/sub-page-main-header-zend-framework-downloads.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 511px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.sub-page-main-header-zend-framework-downloads h1, .sub-page-main-header-zend-framework-downloads h2, .sub-page-main-header-zend-framework-downloads h3, .sub-page-main-header-zend-framework-downloads h4
{
    display: none
}
.front-page-right-sub-header-because-it-just-feels-good
{
    background-image: url(/images/header/front-page-right-sub-header-because-it-just-feels-good.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 200px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.front-page-right-sub-header-because-it-just-feels-good h1, .front-page-right-sub-header-because-it-just-feels-good h2, .front-page-right-sub-header-because-it-just-feels-good h3, .front-page-right-sub-header-because-it-just-feels-good h4
{
    display: none
}
.sub-page-main-header-contact-us
{
    background-image: url(/images/header/sub-page-main-header-contact-us.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 189px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.sub-page-main-header-contact-us h1, .sub-page-main-header-contact-us h2, .sub-page-main-header-contact-us h3, .sub-page-main-header-contact-us h4
{
    display: none
}
.sub-page-main-header-application-error
{
    background-image: url(/images/header/sub-page-main-header-application-error.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 304px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.sub-page-main-header-application-error h1, .sub-page-main-header-application-error h2, .sub-page-main-header-application-error h3, .sub-page-main-header-application-error h4
{
    display: none
}
.sub-page-main-header-zend-amf-downloads
{
    background-image: url(/images/header/sub-page-main-header-zend-amf-downloads.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 391px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.sub-page-main-header-zend-amf-downloads h1, .sub-page-main-header-zend-amf-downloads h2, .sub-page-main-header-zend-amf-downloads h3, .sub-page-main-header-zend-amf-downloads h4
{
    display: none
}
.sub-page-main-header-programmers-reference-guide
{
    background-image: url(/images/header/sub-page-main-header-programmers-reference-guide.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 552px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.sub-page-main-header-programmers-reference-guide h1, .sub-page-main-header-programmers-reference-guide h2, .sub-page-main-header-programmers-reference-guide h3, .sub-page-main-header-programmers-reference-guide h4
{
    display: none
}
.front-page-middle-sub-header-what-you-need-to-get-up-to-speed
{
    background-image: url(/images/header/front-page-middle-sub-header-what-you-need-to-get-up-to-speed.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 269px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.front-page-middle-sub-header-what-you-need-to-get-up-to-speed h1, .front-page-middle-sub-header-what-you-need-to-get-up-to-speed h2, .front-page-middle-sub-header-what-you-need-to-get-up-to-speed h3, .front-page-middle-sub-header-what-you-need-to-get-up-to-speed h4
{
    display: none
}
.front-page-left-header-make-the-choice
{
    background-image: url(/images/header/front-page-left-header-make-the-choice.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 247px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.front-page-left-header-make-the-choice h1, .front-page-left-header-make-the-choice h2, .front-page-left-header-make-the-choice h3, .front-page-left-header-make-the-choice h4
{
    display: none
}
.front-page-right-header-give-back
{
    background-image: url(/images/header/front-page-right-header-give-back.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 139px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.front-page-right-header-give-back h1, .front-page-right-header-give-back h2, .front-page-right-header-give-back h3, .front-page-right-header-give-back h4
{
    display: none
}
.front-page-left-sub-header-standardize-your-php-practices
{
    background-image: url(/images/header/front-page-left-sub-header-standardize-your-php-practices.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 241px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.front-page-left-sub-header-standardize-your-php-practices h1, .front-page-left-sub-header-standardize-your-php-practices h2, .front-page-left-sub-header-standardize-your-php-practices h3, .front-page-left-sub-header-standardize-your-php-practices h4
{
    display: none
}
.front-page-middle-header-get-started
{
    background-image: url(/images/header/front-page-middle-header-get-started.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 166px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.front-page-middle-header-get-started h1, .front-page-middle-header-get-started h2, .front-page-middle-header-get-started h3, .front-page-middle-header-get-started h4
{
    display: none
}
.sub-page-main-header-page-not-found
{
    background-image: url(/images/header/sub-page-main-header-page-not-found.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 265px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}
.sub-page-main-header-page-not-found h1, .sub-page-main-header-page-not-found h2, .sub-page-main-header-page-not-found h3, .sub-page-main-header-page-not-found h4
{
    display: none
}
