@import url(//ajax.googleapis.com/ajax/libs/dojo/1.8.0/dojox/highlight/resources/pygments/autumn.css);
@import url(//ajax.googleapis.com/ajax/libs/dojo/1.8.0/dojox/highlight/resources/highlight.css);

@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url('/css/ZfSiteBlog/fonts/DroidSansMono.woff') format('woff');
}

.blog ul {
    list-style-type: square;
    list-style-position: inside;
    margin-left: 1em;
    padding-left: 1em;
    text-indent: -1em;
}

.blog ul li {
    padding-bottom: 0.5em;
}

.blog h2 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.cloud ul {
    display: block;
    text-align: left;
}

.cloud ul li {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

div.example pre {
    font-family: 'Droid Sans Mono', arial, serif;
    background-color: #F3F3F3;
    padding: 3px;
    margin: 1em;
    border: 1px solid #000;
    overflow: auto;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.blog div.metadata ul {
	font-family: 'MuseoSans500Regular';
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}

.blog div.metadata ul li {
	font-size:14px;
	line-height:20px;
	color: #686868;
    background: none;
}

.blog .entry.meta {
    border-top: 3px solid #24b9ff;
    text-align: right;
    /* background-color: #e4e4e4; */
}

.blog .entry.meta p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.blog p.tags {
    padding-bottom: 0.5em;
}

.blog p.date {
    font-weight: bold;
}

.blog h3.entry {
	color:#24b9ff;
    padding-top: 0.5em;
}

.blog h3.entry a {
	color:#24b9ff;
    padding-top: 0.5em;
}

.blog .entry.body {
    padding-left: 2em;
}

.social-media {
    padding-bottom: 1em;
}

.paginationControl {
    text-align: center;
    margin-top: 2em;
    border-top: 1px solid #24b9ff;
    padding-top: .5em;
}

.paginationControl a {
    color: #24b9ff;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.paginationControl span.current {
    color: #24b9ff;
    text-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* 
 * ensure we don't mess with disqus styles 

#dsq-content #dsq-global-toolbar { clear: both !important; }

.dsq-append-post {zoom: 1;}

div#disqus_thread li, div#disqus_thread span {
    list-style-type: none !important;
}

.dsq-comment, .dsq-comment-header, .dsq-comment-message, .dsq-comment-meta {
    text-indent: 0;
    padding-left: 0;
}

.dsq-comment-meta li, .dsq-comment-actions li {
    text-indent: 0;
}

ul.dsq-comment-actions li {
    display: inline;
}

.dsq-like-activity {
    padding-left: 1em !important;
}

.dsq-toolbar-label {
    padding-left: 1em !important;
}

#dsq-subscribe .dsq-font {
    margin-left: 0.5em !important;
    padding-left: 0.5em !important;
}
 */
