/* 
    Document   : default
    Created on : 31.12.2012, 16:07:08
    Author     : Pudel
    Description:
        Purpose of the stylesheet follows.
*/

.highlight-php {
    margin: 0 0 18px;
    overflow: auto;
}

.highlighttable {
    border-collapse: collapse;
    /*display: block;*/
    width: 100%;
    margin: 0;
}

.highlighttable td {
    padding: 0;
}

.highlight, .highlight-txt {
    /*width: 100%;*/
}

.highlight pre {
    padding: 0 5px;
}

.highlighttable .linenos {
    padding: 5px;
}

.highlighttable .code {
    overflow: auto;
}

tt {
    background-color: rgb(236, 240, 243);
}