php_value date.timezone "America/Los_Angeles"

ErrorDocument 503 maintenance.html

RewriteEngine on

# Provide simple URLs for the CLAs
RewriteRule ^cla$ framework_cla_1.0.pdf [L]
RewriteRule ^ccla$ framework_cla_corporate_1.0.pdf [L]

RewriteCond %{REQUEST_URI} !^\/apidoc
RewriteCond %{REQUEST_URI} !^\/docbook

# Rewrite all requests for favicons to the ZF favicon
RewriteRule favicon.ico$ favicon.ico [NC]

# Rewrites to support old links. May be removed after a few months.
RewriteRule ^partners$ community/partners [R]

# Rewrite warning.png to appropriate location
RewriteRule ^manual/([^/]*)/images/(.*)$ /docbook-xsl/images/$2 [L]

# Process all /manual* URIs through /index.php (if they are not actualy regular files)
RewriteCond %{REQUEST_URI} ^/manual
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php [NC,L]

# Redirects
RedirectMatch partners/technology /community/partners
RedirectMatch ^Zend_Services_WindowsAzure http://framework.zend.com/wiki/display/ZFPROP/Zend_Service_WindowsAzure+-+Maarten+Balliauw

# QuickStart redirects
RedirectMatch permanent docs/quickstart/create-your-project /manual/en/learning.quickstart.create-project.html
RedirectMatch permanent docs/quickstart/create-a-layout     /manual/en/learning.quickstart.create-layout.html
RedirectMatch permanent docs/quickstart/create-a-model-and-database-table /manual/en/learning.quickstart.create-model.html
RedirectMatch permanent docs/quickstart/create-a-form       /manual/en/learning.quickstart.create-form.html
RedirectMatch permanent docs/quickstart/congratulations     /manual/en/learning.quickstart.conclusion.html
RedirectMatch permanent docs/quickstart$                    /manual/en/learning.quickstart.intro.html

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteCond %{REQUEST_FILENAME} !\.(js|gif|jpg|png|css)$
RewriteRule ^.*$ index.php [NC,L]
