/* doc styles */

#manual-container p{
    padding: 0;
    margin: 0 0 1em;
}

div.important, div.warning, div.tip {
    margin-left: 0.3in;
    margin-right: 0.5in;
    border: solid 1px blue;
    background-color: #e0e0e0;
    padding: 0.1in;
}

div.important img, div.warning img, div.tip img {
    margin-right: 0.1in;
    border: solid 1px blue;
}

/* Warnings */
div.warning{
    background: #fcc;
    border: 1px solid #a77;
    padding: 1.25em 1.25em 0.75em;
    margin: 1.5em 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

div.warning b.warning{
    font-weight: bold;
    color: #c00;
}

div.warning h1,
div.warning h2,
div.warning h3,
div.warning h4{
    font-weight: bold;
    color: #c00;
    border-color: #c00;
}

/* Examples */
div.example {
    background: #f2f9ff;
    border: 1px solid #999;
    margin: 1.5em 0;
    padding: 1.25em 1.25em 0.75em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    }

div.example p.title {
    padding-top: 10px;
    font-size:1.083em;
    font-weight:bold;
    }

div.programlisting {
    padding: 1em 1.5em 0.5em;
    background: #e2f1f8;
    margin-bottom: 1em;
    border-left: 1px solid #c2c9d1;
    font-family: Consolas, Lucida Console, monospace;
    font-size: 12px;
    overflow: auto;
}

pre.programlisting {
    border: solid 1px #444;
    background-color: #e0e0e0;
    padding: 0.1in;
    margin: 0.2in;
}

pre.screen {
    border: solid 1px #777;
    background-color: #ddd;
    padding: 0.1in;
    margin: 0.2in;
}

div.variablelist dl dt span.term {
    font-weight: bold;
}

div.navheader {
    padding-bottom: 0.1in;
    border-bottom: solid 1px black;
    border-color: #aaa;
}
div.navfooter {
    margin-top: 0.1in;
    border-top: solid 1px black;
    border-color: #aaa;
    padding-top: 0.1in;
}

div.figure-float {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
}

div.revinfo {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

div.rtl-language {
    direction: rtl;
}

div.itemizedlist ul {
    list-style:disc outside;
    padding:0 0 1em 20px;
}

dl dt span.sect1 {
    margin-left: 2em;
}

dl dt span.sect2 {
    margin-left: 4em;
}

dl dt span.sect3 {
    margin-left: 6em;
}

dl dt span.sect4 {
    margin-left: 8em;
}

h3 { padding-top: 15px; }

pre.programlisting {
    direction: ltr;
    border:1px solid #D3E0EB;
    padding:13px 23px;
    background-color:#EDF7FF;
    margin:10px 0 15px 0;
    font-size:1.2em;
    /* font-weight:bold; */
    font-family:"Courier New", Courier, monospace;
    overflow:auto;
    }

code.code {
    font-size: 1.1em;
    }

p.note {
    border:1px solid #E4E7A7;
    background:#FFFDBD url(../images/note.gif) 17px 12px no-repeat;
    color:#232D30;
    padding:15px 23px 25px 64px;
    margin:1.75em 0;
    }

div.note table th {
    font-size:1.083em;
    font-weight:bold;
    padding-bottom:4px;
    }

div.note table td img {
    margin-right: 1em;
    }
    
#manual {
    color: #4F4E4E;
    font-family: 'MuseoSans500Regular';
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
}

#manual-container div.info h1 {
    border-bottom: 1px solid #0398CA;
    color: #0398CA;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0.5em 0;
}

#manual-container {
    margin-right: 0 auto;
    text-align: left;
    }

#manual-container div.table th {
    font-size: larger;
    font-weight: bold;
    padding-left: 4px;
    }

#manual-container div.table td {
    padding-left: 4px;
    }

#manual-container ol { 
    list-style: decimal outside; 
    padding:0 0 1em 25px; 
    }
#manual-container ul,.chunklist.chunklist_title { 
    list-style: disc outside; 
    padding: 0 0 1em 20px; 
    font-family: 'MuseoSans500Regular';
    }
a {
    font-family: 'MuseoSans500Regular';
}
#manual-container ul span { 
    font-weight: bold; 
    }
#manual-container div.info h1 { 
    font-size: 1.4em; 
    color :#0398ca; 
    font-weight: bold; 
    border-bottom: 1px solid #0398ca;
    margin: 0.5em 0 0.5em 0;
    }
#manual-container hr { 
    border: none; 
    width: 100%; 
    color:#0398ca; 
    background-color:#0398ca; 
    height: 1px; 
    margin-top: 1em;
    margin-bottom: 1em;
    }

.overview ul li a, .overview ul li {
   background: none !important;
   color: #686868;
   display: block;
   font-size: 16px;
   line-height: 18px;
}

.overview ul li ul.manual.toc {
    display: block;
}

.overview ul li ul.manual.toc li a {
    padding-left: 0;
}

.overview h2 {
	color:#24b9ff;
    margin-top: 1em;
	font-family: 'Museo300Regular';
	font-size: 18px;
    padding-bottom: 5px;
    margin-left: 15px;
}

ul.manual.toc li.header.up, ul.manual.toc li.header.home {
    padding-left: 1em;
}

ul.manual.toc li.active {
    padding-left: 1.5em;
}
ul.manual.toc li {
    padding-left: 1em;
}

.manual-version-sctr {
    display: none;
    visibility: hidden;
}

#manual-container .section h1.title{
    font-size: 1.75em;
    border-bottom: 2px solid #d1dde0;
}

#manual-container .section h1.title a.title-link-anchor {
    font-size: .8em;
    color: #DDDDDD;
}

#manual-container .section h1.title a.title-link-anchor:hover {
    color: #888888;
}

#manual-container .section .section h1.title{
    margin-top: 1.25em;
    font-size: 1.4em;
    border-bottom-width: 1px;
}

#manual-container .section .section .section h1.title{
    font-size: 1.2em;
    margin-top: 1em;
    border: none;
}

#manual-container hr{
    background-color: #d1dde0;
}

#manual-container blockquote{  
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #aa7;
    padding: 1.25em 1.25em 0.75em;
    margin: 1.5em 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

#manual-container .command,
#manual-container .classname,
#manual-container .methodname,
#manual-container .varname,
#manual-container .property{
    font-family: consolas, lucida console, monospace, fixed;
    font-weight: bold;
    font-size: 14px;
}


#manual-container .classname,
#manual-container .methodname,
#manual-container .varname,
#manual-container .property{
    color: #000;
    font-style: normal;
}

#manual-container div.programlisting{
    margin: 1.5em 0;
    padding: 1em 1.25em 0.75em;
    background: #fafbfc;
    border: 1px solid #aaa;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

#manual-container div.programlisting ol[style],
#manual-container div.programlisting li[style],
#manual-container div.programlisting div[style]{
    font-family: consolas, monospace, fixed !important;
    color: #111 !important;
}

#manual-container div.programlisting li[style]{
    color: #aaa !important;
}

/* Comments */
.comments h3 {
    background-color: #0398ca;
    margin-top: 2em;
    font-size: 1.25em; 
    font-weight: bold; 
    border: 1px solid #669;
    color: #fff;
    margin-bottom: 0.5em;
    padding: 0.5em 0.75em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.comment-form h4 {
    background-color: #0398ca;
    border-top: 1px solid #D3E0EB;
    margin-top: 2em;
    font-size: 1.25em; 
    font-weight: bold; 
    padding-bottom: 4px;
    padding-left: 0.5em;
}

.comment-form h4 span.expand {
    float: right;
    margin-right: 0.5em;
}

.comments .comment {
    margin-bottom: 1em;
    border: 1px solid #aaa;
    background:#fff;
    padding: 0.75em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.comments .comment:nth-child(odd) {
    background: #f2f5ff;
}

.comment .admin form {
    display: inline;
}

.comment .metadata {
    font-size: 1.0em;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #aaa;

}

.comment .admin {
    border-top: 1px solid #D3E0EB;
}

.comment .admin .status {
    border-right: 1px solid #D3E0EB;
    margin-right: 1em;
}

.comment .admin form {
    margin-left: 1em;
}

dl span.term, dl dt {
    font-weight: bold;
}

dl dd {
    margin-left: 2em;
}

/* Comment Form */
div.comment-form h4{
    border: 1px solid #669;
    color: #fff;
    margin-bottom: 0.5em;
    padding: 0.5em 0.75em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

h1.edition {
    font-size: 22px !important;
}

.info strong {
    font-weight: bold;
}

.info h1 {
    margin-bottom: 30px;
    font-size: 2.2em;
}

.programlisting li {
    font-size: 14px;
}
.programlisting li div {
    font-size: 14px;
}
