<h2>{{key}}: {{summary}}</h2>

<dl class="metadata">
    <dt>Issue Type:</dt>
    <dd>{{issuetype}}</dd>

    <dt>Created:</dt>
    <dd>{{created}}</dd>

    <dt>Last Updated:</dt>
    <dd>{{updated}}</dd>

    <dt>Status:</dt>
    <dd>{{status}}</dd>

    <dt>Fix version(s):</dt>
    <dd><ul>{{#fix_versions}}
        <li>{{version}}</li>
    {{/fix_versions}}</ul></dd>

    <dt>Reporter:</dt>
    <dd>
        {{^repoter}}
        None
        {{/repoter}}
        {{#repoter}}
        {{name}} ({{nick}})
        {{/repoter}}
    </dd>

    <dt>Assignee:</dt>
    <dd>
        {{^assignee}}
        None
        {{/assignee}}
        {{#assignee}}
        {{name}} ({{nick}})
        {{/assignee}}
    </dd>

    <dt>Tags:</dt>
    <dd><ul>{{#tags}}
        <li>{{tag}}</li>
    {{/tags}}
    </ul></dd>

    <dt>Related issues:</dt>
    <dd><ul>
    {{#related}}
        <li><a href="/issues/browse/{{key}}">{{key}}</a></li>
    {{/related}}
    </ul></dd>

    <dt>Attachments:</dt>
    <dd><ul>
    {{#attachments}}
        <li><a href="{{url}}">{{filename}}</a></li>
    {{/attachments}}
    </ul></dd>
</dl>

<div class="description">
    <h3>Description</h3>

    <div class="body">
        {{{description}}}
    </div>
</div>

<div class="comments">
    <h3>Comments</h3>

    {{^comments}}
    <p class="comments">No comments to display</p>
    {{/comments}}

    {{#comments}}
    <div class="comment">
        <p class="metadata">Posted by {{author.displayName}} ({{author.name}}) on {{created}}</p> 
        <div class="body">
            {{{body}}}
        </div>
    </div>
    {{/comments}}
</div>

