/******************************************/
/***************** BASE *******************/
/******************************************/

/*************** Reset styles *************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,ol, ul, li,
fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%;	font-family: inherit;
	vertical-align: baseline;
}
dl, dt, dd {
	border: 0; outline: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%;	font-family: inherit;
	vertical-align: baseline;
}
pre {
	text-align: left;
	margin: 1em;
}

body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul { list-style: none; }
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q {	quotes: "" ""; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix{ display: inline-table; }
.clearfix{ display: block; }
.clearfix{ height: 1%; }

/***************** Block ******************/

body {
	font: normal 78% Verdana, Helvetica, sans-serif; text-align: center;
	color: #2d3b3e; background: #fff url(../images/bg-body.gif) repeat-x 0 0;
}

p { padding: 0; margin:0 0 1em 0; }


/* Heading */
	h1 {}
	h2 {}
	h3 {}
	h4 {}
	h5 {}
	table { width:100%; }
	th, td { padding:0; text-align:left; vertical-align:top; }
	address { font-style:normal; }
	ul li { } 
	fieldset ul li {  }
	ol li { margin-left:25px; list-style-type:decimal; }
	legend {display:none;}
	cite { font-style:normal; }
	form { }
	legend {}
	label{ font-weight: bold; }
	small { font-size:.85em; }
	big { font-size:1.25em; }
	hr { display:none; }
	strong{ font-weight: bold; }

/**************** In-line ******************/
	input, select { vertical-align:middle; }
	a{ color: #009cc2; text-decoration: none; }
	a:hover, a:active, a:focus { text-decoration: underline; }
	
	a span{ cursor: pointer; }

