.floatLeft {
    float: left;
    width: auto;
}

.floatRight {
    float: right;
    width: auto;
}

.contrib-branches {
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 1em;
}

#status-group ul {
    list-style: disc outside;
    padding: 0 0 1em 20px;
}

#status-group ul .odd {
    background-color: #FFFFFF;
}

#status-group ul .even {
    background-color: #F3F3F3;
}

#status-group h3 {
    border: none;
}

li.commit {
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
    padding:     5px;
}

li.commit span.date {
    color: #888;
}

li.nostyle {
    list-style: none;
}

.complete {
    color: #666666;
    text-decoration: line-through;
}

.incomplete {
    color: black;
}

.comment {
    background: url("/images/balloons.png") no-repeat scroll 2px top transparent;
    color: #000000;
    cursor: pointer;
    display: block;
    line-height: 1.2em;
    padding: 6px 4px 6px 20px;
    text-decoration: none;
}

#filter {
    width: 100%;
}

#tag {
    width: 300px;
}