/******************************************/
/*************** UBIQUITOUS ***************/
/******************************************/


.col2-set:after,
.col3-set:after,
.col2-content:after,
.clear:after 
	{
	content:".";
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	visibility:hidden;
	overflow:hidden;
	}


/* Column positioning */

.col2-set .col-1 { float:left; width:246px; padding-right:10px; }
.col2-set .col-2 { float:left; width:524px; }

.col3-set .col-1 { float:left; width:246px; padding-right:10px; }
.col3-set .col-2 { float:left; width:236px; padding-right:12px; }
.col3-set .col-3 { float:left; width:276px; }


/******************************************/
/************** Structure *****************/
/******************************************/

#container{ 
	width: 780px;
	margin: 0 auto;
	text-align: left;
}


#footer {
	clear:both;
	height:69px; width:780px;
	margin:20px auto 0px auto;
	text-align:center;
	background:url(../images/footer_bg.gif) no-repeat 50% 0;
}

/******************************************/
/*************** Content ******************/
/******************************************/

#nav {
	height: 31px;
	padding: 0 40px;
	background: url(../images/nav_bg.gif) repeat-x 0 0;
	}
#nav li {
	float: left;
	}
html>/**/body #nav li a {
	display: -moz-inline-block;
	}
#nav li a {
	display: inline-block;
	height: 24px;
	margin-right: 2px; padding: 7px 16px 0 16px;
	color: #fff;
	font: bold 1.1em Verdana, Arial, Helvetica, sans-serif;
	}
#nav li a:hover {
	text-decoration: none;
	background: url(../images/nav_bg_over.gif) repeat-x 0 0;
	}
#nav li.selected a { color:#0C2D48; background: url(../images/nav_bg_on.gif) repeat-x 0 0; }
	

#siteinfo {
	width:742px;
	margin-bottom:0.50em; padding:17px 19px;
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:0.8em;
	color:#92A1A6;
}
#varien-logo { background-image:url(../images/varien_logo.gif); }
a:hover #varien-logo { background-image:url(../images/varien_logo_on.gif); }


#home-main{
	height: 160px;
	padding: 15px 15px 0 288px; margin: 0 0 15px 0;
	background: url(../images/bg-main.jpg) repeat-x 0 0;
	letter-spacing: -1px;
}
#home-main h2{
	color: #fff;
	font-weight: normal; font-size: 3.1em;
}
#home-main p{
	color: #c8effa;
	font-size: 1.4em; line-height: 1.3em;
}



#get-involved{
	height: 190px;
	background: url(../images/bg-get-involved.gif) no-repeat 0 0;
}
#get-involved h2{
	position: relative;
	height: 23px;
	padding: 3px 0 0 12px;
	color: #fff; background: url(../images/h2-get-involved.gif) no-repeat 0 0;
	font-weight: bold; font-size: 1.1em;
}
#get-involved p{
	padding: 15px 10px;
	font-size: 1.1em;
	line-height: 1.3em;
}
#get-involved h3{
	padding: 0 10px;
	font-weight: bold; font-size: 1.1em;
}
a.btn-download{
	position: relative; display: block;
	width: 208px; height: 32px;
	padding: 5px 10px;
	font-size: 0.8em;
}
a.btn-download span{
	position: absolute; display: block;
	width: 100%; height: 100%;
	background: url(../images/btn-download.gif) no-repeat 0 0;
}




#featured-items{
	height: 190px;
	background: url(../images/bg-featured-items.gif) no-repeat 0 0;
}
#featured-items h2{
	position: relative;
	height: 23px;
	padding: 3px 0 0 12px;
	color: #fff; background: url(../images/h2-featured-items.gif) no-repeat 0 0;
	font-weight: bold; font-size: 1.1em;
}



#in-the-news{
	height: 190px;
	background: url(../images/bg-in-the-news.gif) no-repeat 0 0;
}
#in-the-news h2{
	position: relative;
	height: 23px;
	padding: 3px 0 0 12px;
	color: #fff; background: url(../images/h2-in-the-news.gif) no-repeat 0 0;
	font-weight: bold; font-size: 1.1em;
}
#in-the-news h2 a{
	position: absolute;
	top: 5px; right: 12px;
}


#quick-links{
	height:238px;
	margin: 14px 0 0 0;
	background: url(../images/bg-quick-links.gif) no-repeat 0 100%;
}
#quick-links h2{
	position: relative;
	height: 23px;
	padding: 3px 0 0 12px;
	color: #fff; background: url(../images/h2-quick-links.gif) no-repeat 0 0;
	font-weight: bold; font-size: 1.1em;
}
#quick-links li{
	display: block;
	width: 173px; height: 18px;
	margin: 0 0 2px 16px; padding: 4px 0 0 32px;
	background: url(../images/bg-quick-links-li.gif) no-repeat 0 0;
}



#featured-application{
	position: relative;
	height:242px;
	margin: 14px 0 0 0;
}
#featured-application h2{
	position: relative;
	height: 23px;
	padding: 3px 0 0 12px;
	color: #fff; background: url(../images/h2-featured-application.gif) no-repeat 0 0;
	font-weight: bold; font-size: 1.1em;
}
	#featured-application .content{
		float: left;
		position: relative;
		width: 355px; height: 211px;
		overflow: hidden;
	}
	#featured-application .content img{
		display: block;
		margin: 0; padding: 0;
	}
	#featured-application .content p{
		display: none;
		position: absolute;
		left: 0; bottom: 0;
		width: 310px; height: 58px;
		padding: 11px 20px 0 25px;
		color: #fff;
		background-color: #000;
		filter:alpha(opacity=80);
		-moz-opacity: 0.8;
		opacity: 0.8;
		font-size: 0.9em; line-height: 1.3em;
	}
	#featured-application .content p.selected{ display: block; }
	#featured-application .content p a{ font-weight: bold; }
	
	#featured-application .featured-nav{
		position: absolute;
		right: 0; top: 26px;
		width: 179px; height: 212px;
		color: #919191;
		font-size: 0.9em;
		border-right: 1px solid #d9d9d9;
	}
	#featured-application .featured-nav li{
		padding: 12px 0 0 33px; height: 41px;
		background: url(../images/bg-btn.gif) no-repeat 100% 0;
		cursor: pointer;
	}
	#featured-application .featured-nav .selected{
		padding: 12px 0 0 33px; height: 41px;
		background: url(../images/bg-btn-selected.gif) no-repeat 0 0;
	}
	#featured-application .featured-nav strong{ 
		color: #2ea20d; 
		font-size: 1.2em; font-weight: normal;
		display: block;
	}
.zend-list { padding: 15px 10px 0 10px; }
.zend-list li{
	padding: 0 0 0.7em 22px;
	background: url(../images/bullet.gif) no-repeat 0 0.25em;
	}

