/* CONTRIBUTORS [start] */
dl.contributors {
    float: left;
    width: 295px;
    margin: 1em;
    padding: 0;
    border-bottom: 1px solid #999;
}
dl.contributors dt {
    clear: left;
    float: left;
    width: 80px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
}
dl.contributors dd {
    float: left;
    width: 195px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    word-wrap: break-word;
}

dl.groups {
    width: 590px;
    margin: 1em;
    padding: 0;
    border-bottom: 1px solid #999;
}

dl.groups dt {
    clear: left;
    float: left;
    width: 200px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
}

dl.groups dd {
    float: left;
    width: 370px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    word-wrap: break-word;
}

body#page-contributors #sidebar dl dt { padding-top:0.66em; }
body#page-contributors #sidebar dl dt { font-weight:bold; }
/* CONTRIBUTORS [end] */
