/* CONTRIBUTORS [start] */
/* Gallery */
ul.gallery {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
}
ul.gallery li {
	float:left;
	padding-right:20px;
	padding-bottom:10px;
	line-height:120%;
	width:200px;
}

ul.gallery li img.picture {
	float:left;
	margin-right:10px;
	display:block;
	border:1px solid #D3E0EB;
}

body#page-contributors #sidebar dl dt { padding-top:0.66em; }
body#page-contributors #sidebar dl dt { font-weight:bold; }
/* CONTRIBUTORS [end] */