.col2-content  { margin-top: 10px; }
.col2-content .col-1 { float:left;  width:490px; padding-right:10px; }
.col2-content .col-2 { float:right; margin-top: 10px; width:265px; }

/* Sidebar for Content pages */
#sidebar { padding-top:25px; background:url(../images/sidebar_top_blue.gif) no-repeat;}
#sidebar div.content { width:241px; }
#sidebar div.content { padding:0 12px 0 12px; }
#sidebar div.content { background:url(../images/sidebar_bg_blue.gif) repeat-y; }
#sidebar div.bottom {height:22px; background:url(../images/sidebar_bottom_blue.gif) bottom no-repeat; }
#sidebar div.hr { height:2px; background:url(../images/hr_blue.gif) repeat-x; margin:6px }
#sidebar h4 { font:bold 12px Verdana, Arial, Helvetica, sans-serif; margin-bottom:6px;}
#sidebar ul li { padding-left: 1.0em; list-style-type:none; }
#sidebar ul { padding-bottom:1.0em; }
#sidebar p { padding-bottom:1.0em; }

/* CONTENT-HEADER (the sub-tabs) */
#content-header {
	height:25px;
	padding-top:10px;
	background:url(../images/dotted_h.gif) bottom repeat-x;
	margin-bottom:10px;
	}
#content-header ul { margin-left: 0px; list-style-type:none; }
#content-header li {
	display:inline;
	font-size:13px;
	margin-right:3px;
	}
#content-header li a { padding:0 5px; font-weight:bold; color:#0088B5; }
#content-header li.current a { color:#6CAE15; }
#content-header li a:hover {
	background-color:#EDF7FF;
	color:#0088B5;
	text-decoration:none;
	}

#main h1, h2, h3, h4 { padding-bottom:6px;
         line-height:1.5em;
         font-family: Verdana, Arial, Helvetica, sans-serif;
         font-weight:normal; }
#main h1 { font-size:24px; font-weight:bold;}
#main h2 { font-size:16px; font-weight:bold;}
#main h3 { font-size:12px; font-weight:bold; }
#main ul { margin-left: 30px; list-style-type:disc; }
#main ul { padding-bottom:0.25em; }

div.dotted-h {
	height:1px;
	font-size:1px;
	line-height:1px;
	background:url(../images/dotted_h.gif) bottom repeat-x;
	}
