body { margin:0 }

h1 .first:link, h1 .first:visited { color: #666666 }

#header h1 { margin:0 }

.wikipage ul { list-style-type:disc; margin-top:0.5em; }
.wikipage li { margin-left:2em; }

#mainnav2 ul { font-size:12px; }
#mainnav2 a { padding: .2em; }
#mainnav2 .active a {
	color:black;
	text-decoration:none;
	background:transparent;
	border:0;
}

#siteinfo,#footer, #search { text-align:center; width:auto; }

#content { padding:0 9px; width:auto }

form { padding:0; margin:0 }
form .field { width:95%; padding:0.5em }

#newticket #properties { width:auto; }
.tickets tr.color2-odd { color:#070; }

#header #nav li a { color:white }
#header #nav li a:hover { 
	text-decoration:none;
	background-image:url(../images/nav_bg_over.gif);
	background-repeat:repeat-x;
}
#header #nav li.selected a { 
	background-image:url(../images/nav_bg_on.gif);
	background-repeat:repeat-x;
	color:#0C2D48;
}

#dirlist td.rev, #dirlist td.age, #dirlist td.change { white-space: nowrap; }
#dirlist td.rev, #dirlist td.rev a, #dirlist td.change { color:#111 }
#dirlist td.size,#dirlist td.age { color:#730000 }
#chglist td.rev, #chglist td.chgset { text-align: right; color:black }
#chglist td.rev { color:black }

#zfw_help { padding: 3px 0 3px 0; }
#zfw_trac_statbar { padding:9px }

#footer { border:0; }
#footer a { color:#414C4F; }
#footer a:hover { text-decoration:none; color:#666666; }

#siteinfo {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#92A1A6;
	padding:17px 19px;
}

#siteinfo-legal {
	font-weight:bold;
	margin-bottom:0.50em;
}

#ctxtnav {
	padding:7px 7px 0 7px;
	white-space: nowrap;
}
#ctxtnav a { border:0; }

#prefs * , #prefs fieldset legend { margin: 0px; padding: 0px; font-size:x-small }
#prefs { margin:0 0 5px 0; position:relative; }
#prefs .buttons { position:absolute; right:9px; bottom:9px; }

#legend { clear:none; }

/* PHP Default */
.hphp_default {
 color: #ccFFcc;
 font-family: monospace;
}

/* PHP Inline Comments */
.hphp_commentblock {
 color: #7B8D9A;
 font-style: normal;
}
.hphp_commentline {
 color: #7B8D9A;
 font-style: normal;
}

/* PHP DocBlock Comments */
.hphp_comment {
 color: #6B7D8A;
 font-style: normal;
}

/* PHP Operators */
.hphp_operator {
 color: #008000;
 font-weight: normal;
}

/* PHP Simple String */
.hphp_simplestring {
 color: #7F1E65;
 font-weight: normal;
}

/* PHP Variables */
.hphp_variable, .hphp_hstring_variable {
 color: #1D53C1;
 font-weight: normal;
}

/*PHP Type */
.hphp_classname {
 color: #468;
 font-weight: bold;
}

/* PHP String */
.hphp_string, .hphp_stringeol, .hphp_hstring,
.hphp_triple, .hphp_tripledouble {
 color: #963912;
 font-weight: italic;
}

/* SilverCity-specific PHP styles */
.hphp_defname { color: #808000; font-weight: bold }
.hphp_number { color: #400040 }
.hphp_word { color: #232D30; font-weight: bold }
