.download img {
  border: 0 none;
}
.download h4 {
  color: #009ec6;
  font-family: trebuchet,helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  color: #008dbb;
}
.download.row {
  overflow:auto;
  width: 640px; 
  border-top:1px solid #e1e1e1; 
  padding: 15px 0; 
  clear: both;
}
.download.column1 {
  float: left; 
  width: 77px; 
  text-align: center;
  margin-top:-10px;
}
.download.column2 {
  float: left; 
  width: 390px;
  margin: 0px 17px 0px 8px;  
}
.download.column3 {
  float: left; 
  width: 148px; 
  text-align: right;
}
.download.column2 span {
  font-family:arial, helvetica, sans-serif;
  font-size: 13px;
  color: #4444;
}
a.release:link, a.release:visited, a.release:hover, a.release:active {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  color: #008dbb;
}
a.release:hover {
  color: #749b2a;
}
.download.row.last {
  height: 32px;
  width: 640px; 
  background-image: url("/images/download/readme_bg_pixel.gif"); 
  background-repeat:repeat-x; 
  padding: 7px 0;
  clear: both;
  overflow: hidden;
}
.download.row.last .left {
  display: block; 
  float: left;
  width: 96%; 
  font-weight: bold;
}
.download.row.last .right {
  display:block; 
  float:left;
  width: 18px; 
  height: 18px;  
}
.readme.link {
  font-family: arial,helvetica, sans-serif;                                                                     font-size: 16px,                                                                                              color: #555555;
  margin-left: 7px;
  display:block;
  float:left;
  font-weight:normal;
}
.package.row {
  padding: 10px 0;
}
.package.column2 {
  margin-left: 85px;
  padding-top:0;
}
*html .package.column2 {
  width: 380px;
  margin-left: 45px;
  padding-top:0;
}
.readme.content {
  display:none;
  visibility:hidden;
  width: 640px; 
  margin-top:-15px;
  border: 1px solid #e1e1e1;
}
.readme.content pre {
  width: 96%;
  padding: 7px;
}
.readme.content.show {
  display:block;
  visibility:visible;
}
img.readme.icon {
  display:block;
  float: left;
  margin-top:2px;
}
div.empty {
  padding: 0;
  height: 1.3em;
}
.download.column3 a.release {
    display: inline;
}

