
/* FAQ [start] */
ul#faqs { margin:0.66em 0; }
dl#answers { margin-top:1.5em; }
ul#faqs li { padding-bottom:0.66em; line-height:1.25em; }
dl#answers dt { font-weight:bold; line-height:1.33em; margin-bottom:0.20em;  }
dl#answers dd { padding-bottom:1.75em; margin:0; }
/* FAQ [end] */