@charset "utf-8";
/* < IE6 styles */

#page { width:expression(document.body.clientWidth<1004?'1003px':'auto'); }

/* < hasLayout On */
.field { zoom:1; }

#top-nav li li,
#top-nav li li a,
.content .sub-nav ul,
.content .list-features { height:1%; }
/* hasLayout On  > */

#header .tagline { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/tagline.png"); }
.box .box-in { height:443px; }
.box .rss-box { height:7.5em; }
.box .items li { height:53px; }
/* IE6 styles > */


.box { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bkg_box-shadow.png", sizingMethod="scale"); }
.box-bottom { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bkg_box-bottom.png"); }

#footer { height:73px; }