* {
       color: #000;
}

body {
       background: #FFF;
}

a:link, a:visited {
       color: #000;
}

#header, #footer, #sidebar, .navheader, .navfooter {
       display: none;
}

pre.programlisting {
       padding: 0 23px;
       line-height: 14px;
}