div.code-sample 
{
    padding-left: 1em;
    border: 1px solid #AAAAAA;
    padding: 50px 20px 20px 20px;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(/images/quickstart/code-sample-background.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-family:"Courier New", Courier, monospace;
    background-color: #f1ecdd;
}

div.code-sample code {
    white-space: pre;
}

#quickstart-nav-prev-button
{
    float: left;
    font-weight: bold;
}

#quickstart-nav-next-button
{
    float: right;
    font-weight: bold;
}

#quickstart-nav-prev-button img
{
    vertical-align: middle;
}

#quickstart-nav-next-button img
{
    vertical-align: middle;
}

#quickstart-dotted-line
{
    margin-top: 2em;
}

div.note
{
	font-family: georgia, sans serif;
    padding-right: 1em;
    border: 1px solid #AAAAAA;
    padding: 20px 20px 20px 90px;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 80px;
    background-image: url(/images/quickstart/bg-note.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-color: #fffdc2;
}

div.note-title
{
	font-weight: bold;
	font-size: 1.1em;
}

div.checkpoint
{
	font-family: georgia, sans serif;
    padding-right: 1em;
    border: 1px solid #AAAAAA;
    padding: 20px 20px 20px 90px;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 80px;
    background-image: url(/images/quickstart/bg-checkpoint.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-color: #c5ffc2;
}

div.checkpoint-title
{
    font-weight: bold;
    font-size: 1.1em;
}

#quickstart-mvc ul
{
	margin-left: 2em;
    list-style-type: disc;
    list-style-position: outside;
}
