/* CSS: undohtml.css */
h1, h2, h3, h4, pre, body, html {
	margin:0;
	padding:0;
	}
p { padding: 0; margin:0 0 1em 0; }
a img, :link img, :visited img { border:none; }


/**********************************************/
/* HEADINGS */
h1, h2 { margin-bottom:3px;
         line-height:1.5em;
         font-family: Verdana, Arial, Helvetica, sans-serif;
         font-weight:normal; 
	   font-size:22px;}
h3, h4, h5, h6 { margin-bottom:3px;
                 line-height:1.5em;
                 font-family:Verdana, Arial, Helvetica, sans-serif; }

h3 { font-size:12px; font-weight:bold;}
h4 { font:bold 14px Verdana, Arial, Helvetica, sans-serif; }
h5 { font-weight:normal; font-size:1em; }
/**********************************************/


/* OTHERS */

div.thin, div.spacer, div.hr {
	font-size:1px; line-height:1px; height:1px; overflow:hidden;
	}
div.hr { background-color:#E1E2C4; }


/* CSS Document */
/* About: Contains all the IDS elements for the structure of the site and other IDS */

/******************************************************
			CONTENT BOXES
******************************************************/
body {
	background:url(../images/header_bg.gif) repeat-x #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.5em;
	color:#232D30;
	}
#container {
	width: 780px;
	position: relative;
	margin: 0 auto;
	}

#cols-2, #cols-3 {
	width:780px;
	text-align:left;
}

#header {
	height:108px;
	}
#header .top {
	height:67px;
	}

#middle {
	clear:both;
	width:780px;
	}
.page-type-home #middle { margin-top:3px; }


#footer {
	clear:both;
	text-align:center;
	background:url(../images/footer_bg.gif) center top no-repeat;
	margin:20px auto 0px auto;
	height:69px;
	width:780px;
	}

#content {
	width:590px;
	float:left;
	/*position:relative;*/
	}

/******************************************************
			SECONDARY BOXES
******************************************************/
/* #HEADER */
#logo {
	width:206px;
	height:54px;
	float:left;
	background:url(../images/logo.png) 0px 9px no-repeat;
	margin:0;
	padding:0;
	}
#logo span { display:none; }
#logo a { display:block; height:54px; }
#logo a:hover { text-decoration:none; }


#nav {
	height:31px;
	background:url(../images/nav_bg.gif) repeat-x;
	}
#nav li a {
	margin-right:2px;
	color:#fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	padding:0 16px;
	/*height:31px;*/
	height:24px;
	padding-top:7px;
	float:left;
	}
#nav li a:hover {
	text-decoration:none;
	background-image:url(../images/nav_bg_over.gif);
	background-repeat:repeat-x;
	}
#nav li.selected a {
	background-image:url(../images/nav_bg_on.gif);
	background-repeat:repeat-x;
	color:#0C2D48;
	}
/* header-top[end] */

#siteinfo {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#92A1A6;
	padding:17px 19px;
	width:742px;
	margin-bottom:0.50em;
	}

/* CSS Document */
/* About: Main CSS files with all the classes used in throughout the site */

/* LINKS */
:link { text-decoration:none; color:#0088B5; }			/* for unvisited links */
a:active { text-decoration:none; color:#0088B5; }		/* when link is clicked */
a:hover { text-decoration:underline; color:#0088B5; }		/* when mouse is over link */
:visited { text-decoration:none; color:#0088B5; }		/* for visited links */
:visited:hover { text-decoration:underline; color:#0088B5; }		/* when mouse is over link */


/* LISTS */
ul.button {
        margin:0;
        padding:0;
        }
ul.button li {
        margin: 0;
        padding: 0;
        list-style-type:none;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	background:no-repeat left top;
	float:left;
	}
ul.button li a { display:block; }
ul.button li a span, ul.button li a strong { display:none; }


/* SIDEBAR & TWO-COLS-X [start] */
#sidebar { padding-top:25px; }
#sidebar div.content { padding:0 12px 0 28px; }
#sidebar div.bottom{ height:22px; }

#two-cols-left #sidebar { background:url(../images/sidebar_top_white.gif) no-repeat; }
#two-cols-left #sidebar div.content { background:url(../images/sidebar_bg_white.gif) repeat-y; }
#two-cols-left #sidebar div.bottom { background:url(../images/sidebar_bottom_white.gif) bottom no-repeat; }

#two-cols-right #sidebar { background:url(../images/sidebar_top_blue.gif) no-repeat; margin-left: 15px; }
#two-cols-right #sidebar div.content { background:url(../images/sidebar_bg_blue.gif) repeat-y; }
#two-cols-right #sidebar div.bottom { background:url(../images/sidebar_bottom_blue.gif) bottom no-repeat; }
#two-cols-right #sidebar div.hr {  height:2px; background:url(../images/hr_blue.gif) repeat-x; margin:6px 0; }

#two-cols-left {}
#two-cols-left #sidebar {
	float:left;
	width:265px;
	}
#two-cols-left #content {
	width:auto;
	left:0;
	top:0;
	float:left;
	margin-left:22px;
	margin-right:0px;
	width:493px;
	}
#two-cols-left #sidebar h4 { font:bold 14px/1.78em Verdana, Arial, Helvetica, sans-serif; }
#two-cols-right #sidebar h4 { font:bold 12px/1.667em Verdana, Arial, Helvetica, sans-serif; }

#sidebar h4 a { margin-left:3px; }
#sidebar h4 a img { vertical-align:text-bottom; margin-bottom:2px;}
#two-cols-left #sidebar ul { padding-bottom:1.5em; }
#sidebar ul li { padding-bottom:0.75em; }
#sidebar ul.links { margin:0; padding:0; }
#sidebar ul.links li { margin:0; padding:0; list-style-type:none; padding-bottom:0.5em; line-height:1.05em; }
#two-cols-right #sidebar ul { padding-top:0.25em; }

#two-cols-right {}
#two-cols-right #sidebar {
	float:right;
	width:265px;
	}
#two-cols-right #sidebar div.content { width:225px;	}

#two-cols-right #content {
	width:auto;
	left:0;
	top:0;
	float:left;
	margin-right:22px;
	margin-right:0px;
	width:493px;
	}
/* SIDEBAR & TWO-COLS-X [end] */


/* CONTENT-FOOTER & CONTENT-HEADER */
#content-header {
	height:31px;
	padding-top:10px;
	background:url(../images/dotted_h.gif) bottom repeat-x;
	margin-bottom:10px;
	padding-left:5px;
	}
#content-header li, #content-footer li {
	display:inline;
	font-size:13px;
	margin-right:3px;
	}
#content-header li a, #content-footer li a { padding:0 5px; font-weight:bold; color:#0088B5; }
#content-header li.current a, #content-footer li.current a { color:#6CAE15; }
#content-header li a:hover, #content-footer li a:hover {
	background-color:#EDF7FF;
	color:#0088B5;
	text-decoration:none;
	}
#content-footer {
	height:31px;
	padding-top:10px;
	background:url(../images/dotted_h.gif) top repeat-x;
	margin-top:3em;
	padding-left:5px;
	}
div#content-footer { display:none; }




/* OTHERS */

div.dotted-h {
	height:1px;
	font-size:1px;
	line-height:1px;
	background:url(../images/dotted_h.gif) bottom repeat-x;
	}
#content div.content {
	padding-left:10px;
	padding-right:25px;
	}
#content div.content h2 {
	padding-left:0;
	margin-left:0;
	}

/* Lists */

ul.arrow li {
	background:url(../images/bullet_arrow.gif) 0 3px no-repeat;
	padding-left:21px;
	padding-bottom:6px;
	}
ul.arrow li a { }



/* ROLLOVERS */
#varien-logo { background-image:url(../images/varien_logo.gif); }
a:hover #varien-logo { background-image:url(../images/varien_logo_on.gif); }
/* ROLLOVERS [end] */
