<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuite name="Downloads Test Suite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="testdox-text" target="./log/testdox.txt" />
    </logging>
</phpunit>
